.box-flex{
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 12px;
}
.box-mount{
  background-color: #0AB39C;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  padding: 8px 16px;
}

.box-flex{
  align-items: center;
  display: flex;
  justify-content: flex-start;
  gap: 12px;
}
.box-mount{
  background-color: #0AB39C;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  padding: 8px 16px;
}

.box-icon{
  align-items: center;
  background-color: var(--clr-neutral-01);
  border: solid 1px var(--clr-neutral-05);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  height: 80px;
  width: 80px;

  i{
    color: var(--clr-neutral-05);
    font-size: 40px;
  }
}