.box-flex{
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 12px;
}
.box-mount{
  background-color: #38CC47;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  padding: 8px 16px;
}