<!-- <p>home-page works!</p> -->

<!-- Overview - All Accounts -->
<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header border-0 align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">Overview - All Accounts</h4>
      </div><!-- end card header -->

      <div class="card-header p-0 border-0 bg-soft-light">
        <div class="row g-0 text-center">
          <div class="col-6 col-sm-3">
            <div class="p-3 border border-dashed border-start-0">
              <h5 class="mb-1">196</h5>
              <p class="text-muted mb-0">Calls</p>
            </div>
          </div>
          <!--end col-->
          <div class="col-6 col-sm-3">
            <div class="p-3 border border-dashed border-start-0">
              <h5 class="mb-1">1,629</h5>
              <p class="text-muted mb-0">Minutes</p>
            </div>
          </div>
          <!--end col-->
          <div class="col-6 col-sm-3">
            <div class="p-3 border border-dashed border-start-0">
              <h5 class="mb-1">19s</h5>
              <p class="text-muted mb-0">Avg Connect Time</p>
            </div>
          </div>
          <!--end col-->
          <div class="col-6 col-sm-3">
            <div class="p-3 border border-dashed border-start-0 border-end-0">
              <div class="box-flex">
                <h5 class="mb-1">Total Earnings</h5>
                <div class="box-mount">$8534.00</div>
              </div>
              <p class="text-muted mb-0"></p>
            </div>
          </div>
          <!--end col-->
        </div>
      </div><!-- end card header -->
    </div><!-- end card -->
  </div><!-- end col -->
</div>
<!-- Overview - All Accounts end-->


<!-- filter -->
<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">Filter by</h4>
      </div><!-- end card header -->

      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <div>
              <label class="form-label">Select Account</label>
              <select class="form-select rounded-pill mb-3" aria-label="Default select example">
                <option selected="">Search for account</option>
                <option value="1">Information Architecture</option>
                <option value="2">UI/UX Design</option>
                <option value="3">Back End Development</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <label for="exampleInputdate" class="form-label">Start Date</label>
              <input type="date" class="form-control" id="exampleInputdate">
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <label for="exampleInputdateEnd" class="form-label">End Date</label>
              <input type="date" class="form-control" id="exampleInputdateEnd">
            </div>
          </div>
        </div>
        <div class="text-end mt-3">
          <button type="button" class="btn rounded-pill btn-danger waves-effect waves-light">Search</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- filter end-->


<!-- Overview - filter -->
<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header border-0 align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">Overview - Today(22/06/2023)</h4>
      </div><!-- end card header -->

      <div class="card-header p-0 border-0 bg-soft-light">
        <div class="row g-0 text-center">
          <div class="col-6 col-sm-3">
            <div class="p-3 border border-dashed border-start-0">
              <h5 class="mb-1">17</h5>
              <p class="text-muted mb-0">Calls</p>
            </div>
          </div>
          <!--end col-->
          <div class="col-6 col-sm-3">
            <div class="p-3 border border-dashed border-start-0">
              <h5 class="mb-1">291</h5>
              <p class="text-muted mb-0">Minutes</p>
            </div>
          </div>
          <!--end col-->
          <div class="col-6 col-sm-3">
            <div class="p-3 border border-dashed border-start-0">
              <h5 class="mb-1">14s</h5>
              <p class="text-muted mb-0">Avg Connect Time</p>
            </div>
          </div>
          <!--end col-->
          <div class="col-6 col-sm-3">
            <div class="p-3 border border-dashed border-start-0 border-end-0">
              <div class="box-flex">
                <h5 class="mb-1">Earnings</h5>
                <div class="box-mount">$334.00</div>
              </div>
              <p class="text-muted mb-0"></p>
            </div>
          </div>
          <!--end col-->
        </div>
      </div><!-- end card header -->
    </div><!-- end card -->
  </div><!-- end col -->
</div>
<!-- Overview - filter end-->

<div class="row">
  <div class="col-6">
    <div class="card">
      <app-chart-bar-widget></app-chart-bar-widget>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <app-chart-pie-widget></app-chart-pie-widget>
    </div>
  </div>
</div>
