<div class="row">
  <div class="col-12">
    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
      <h4 class="mb-sm-0">NEW ASSIGNMET</h4>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-3">
    <div class="card card-h-100">
      <div class="card-body">
        <button class="btn btn-danger fw-medium rounded-pill w-100" id="btn-new-event" (click)="openModal()"><i
            class="mdi mdi-plus"></i> Create New
          Assignment</button>
      </div>
    </div>
    <div>
      <h5 class="mb-1">Upcoming Events</h5>
      <p class="text-muted">Don't miss scheduled events</p>
      <div class="pe-2 me-n1 mb-3" data-simplebar="init" style="height: 400px">

        <div class="simplebar-wrapper" style="margin: 0px -8px 0px 0px;">
          <div class="simplebar-height-auto-observer-wrapper">
            <div class="simplebar-height-auto-observer"></div>
          </div>

          <div class="simplebar-mask">
            <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
              <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content"
                style="height: 100%; overflow: hidden scroll;">
                <div class="simplebar-content" style="padding: 0px 8px 0px 0px;">

                  <div id="upcoming-event-list">
                    <div class="card mb-3">
                      <div class="card-body">
                        <div class="d-flex mb-3">
                          <div class="flex-grow-1">
                            <i class="mdi mdi-checkbox-blank-circle me-2 text-info"></i>
                            <span class="fw-medium">3 Jan 2022 </span>
                          </div>
                          <div class="flex-shrink-0">
                            <small class="badge badge-soft-primary ms-auto">7:00 PM to 12:00 AM</small>
                          </div>
                        </div>
                        <h6 class="card-title fs-16"> World Braille Day</h6>
                        <p class="text-muted text-truncate-two-lines mb-0"> </p>
                      </div>
                    </div>

                    <div class="card mb-3">
                      <div class="card-body">
                        <div class="d-flex mb-3">
                          <div class="flex-grow-1">
                            <i class="mdi mdi-checkbox-blank-circle me-2 text-info"></i>
                            <span class="fw-medium">29 Jan 2022 </span>
                          </div>
                          <div class="flex-shrink-0">
                            <small class="badge badge-soft-primary ms-auto">7:00 PM to 12:00 AM</small>
                          </div>
                        </div>
                        <h6 class="card-title fs-16"> World Leprosy Day</h6>
                        <p class="text-muted text-truncate-two-lines mb-0"> </p>
                      </div>
                    </div>

                    <div class="card mb-3">
                      <div class="card-body">
                        <div class="d-flex mb-3">
                          <div class="flex-grow-1">
                            <i class="mdi mdi-checkbox-blank-circle me-2 text-info"></i>
                            <span class="fw-medium">20 Feb 2022 </span>
                          </div>
                          <div class="flex-shrink-0">
                            <small class="badge badge-soft-primary ms-auto">7:00 PM to 12:00 AM</small>
                          </div>
                        </div>
                        <h6 class="card-title fs-16"> International Mother Language Day</h6>
                        <p class="text-muted text-truncate-two-lines mb-0"> </p>
                      </div>
                    </div>

                    <div class="card mb-3">
                      <div class="card-body">
                        <div class="d-flex mb-3">
                          <div class="flex-grow-1">
                            <i class="mdi mdi-checkbox-blank-circle me-2 text-info"></i>
                            <span class="fw-medium">21 Feb 2022 </span>
                          </div>
                          <div class="flex-shrink-0">
                            <small class="badge badge-soft-primary ms-auto">7:00 PM to 12:00 AM</small>
                          </div>
                        </div>
                        <h6 class="card-title fs-16"> World Thinking Day</h6>
                        <p class="text-muted text-truncate-two-lines mb-0"> </p>
                      </div>
                    </div>

                    <div class="card mb-3">
                      <div class="card-body">
                        <div class="d-flex mb-3">
                          <div class="flex-grow-1">
                            <i class="mdi mdi-checkbox-blank-circle me-2 text-info"></i>
                            <span class="fw-medium">7 Mar 2022 </span>
                          </div>
                          <div class="flex-shrink-0">
                            <small class="badge badge-soft-primary ms-auto">7:00 PM to 12:00 AM</small>
                          </div>
                        </div>
                        <h6 class="card-title fs-16"> International Women's Day</h6>
                        <p class="text-muted text-truncate-two-lines mb-0"> </p>
                      </div>
                    </div>

                    <div class="card mb-3">
                      <div class="card-body">
                        <div class="d-flex mb-3">
                          <div class="flex-grow-1">
                            <i class="mdi mdi-checkbox-blank-circle me-2 text-info"></i>
                            <span class="fw-medium">20 Mar 2022 </span>
                          </div>
                          <div class="flex-shrink-0">
                            <small class="badge badge-soft-primary ms-auto">7:00 PM to 12:00 AM</small>
                          </div>
                        </div>
                        <h6 class="card-title fs-16"> International Mother Language Day</h6>
                        <p class="text-muted text-truncate-two-lines mb-0"> </p>
                      </div>
                    </div>

                    <div class="card mb-3">
                      <div class="card-body">
                        <div class="d-flex mb-3">
                          <div class="flex-grow-1">
                            <i class="mdi mdi-checkbox-blank-circle me-2 text-info"></i>
                            <span class="fw-medium">21 Mar 2022 </span>
                          </div>
                          <div class="flex-shrink-0">
                            <small class="badge badge-soft-primary ms-auto">7:00 PM to 12:00 AM</small>
                          </div>
                        </div>
                        <h6 class="card-title fs-16"> World Water Day</h6>
                        <p class="text-muted text-truncate-two-lines mb-0"> </p>
                      </div>
                    </div>

                    <div class="card mb-3">
                      <div class="card-body">
                        <div class="d-flex mb-3">
                          <div class="flex-grow-1">
                            <i class="mdi mdi-checkbox-blank-circle me-2 text-info"></i>
                            <span class="fw-medium">6 Apr 2022 </span>
                          </div>
                          <div class="flex-shrink-0">
                            <small class="badge badge-soft-primary ms-auto">7:00 PM to 12:00 AM</small>
                          </div>
                        </div>
                        <h6 class="card-title fs-16"> World Health Day</h6>
                        <p class="text-muted text-truncate-two-lines mb-0"> </p>
                      </div>
                    </div>

                    <div class="card mb-3">
                      <div class="card-body">
                        <div class="d-flex mb-3">
                          <div class="flex-grow-1">
                            <i class="mdi mdi-checkbox-blank-circle me-2 text-info"></i>
                            <span class="fw-medium">15 Apr 2022 </span>
                          </div>
                          <div class="flex-shrink-0">
                            <small class="badge badge-soft-primary ms-auto">7:00 PM to 12:00 AM</small>
                          </div>
                        </div>
                        <h6 class="card-title fs-16"> International Special Librarians Day</h6>
                        <p class="text-muted text-truncate-two-lines mb-0"> </p>
                      </div>
                    </div>

                    <div class="card mb-3">
                      <div class="card-body">
                        <div class="d-flex mb-3">
                          <div class="flex-grow-1">
                            <i class="mdi mdi-checkbox-blank-circle me-2 text-info"></i>
                            <span class="fw-medium">23 Jul 2023 </span>
                          </div>
                          <div class="flex-shrink-0">
                            <small class="badge badge-soft-primary ms-auto">8:00 PM to 4:00 PM</small>
                          </div>
                        </div>
                        <h6 class="card-title fs-16"> Velzon Project Discussion with Team</h6>
                        <p class="text-muted text-truncate-two-lines mb-0"> Tell how to boost website traffic</p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="simplebar-placeholder" style="width: auto; height: 2437px;"></div>
        </div>

        <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
          <div class="simplebar-scrollbar" style="width: 0px; display: none;">
          </div>
        </div>

        <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
          <div class="simplebar-scrollbar"
            style="height: 65px; display: block; transform: translate3d(0px, 302px, 0px);">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-9">
    <div class="card card-h-100">
      <div class="card-body">
        <div id="calendar"></div>
        <full-calendar [options]="calendarOptions">

          <ng-template #eventContent let-arg>
            <b>{{ arg.event.title }}</b>
          </ng-template>

        </full-calendar>
      </div>
    </div>
  </div>

</div>


<div class="row">
  <div class="col-12">

    <!-- Add New Event MODAL -->
    <ng-template #modalShow let-modal>
      <div class="modal-header bg-dark p-3">
        <h5 class="modal-title text-white" id="modal-title">Assignment Request Form for OPI/VRI (Consecutive
          Interpreting and Simultaneous Interpreting) and ASL</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"
          (click)="closeEventModal()"></button>
      </div>
      <div class="modal-body p-4">
        <form class="needs-validation" name="event-form" id="form-event" novalidate (ngSubmit)="saveEvent()"
          [formGroup]="formData">
          <div class="row event-form">
            <div class="col-md-6">
              <div class="mb-3">
                <label class="form-label">Native Language</label>
                <select class="form-select rounded-pill" name="category" formControlName="category"
                  [ngClass]="{'is-invalid': submitted && form['category'].errors}" id="event-category" required>
                  <option value="" select>English</option>
                  <option value="">Spanish</option>
                  <option value="">Cantones</option>
                </select>
                <div *ngIf="submitted && form['category'].errors" class="invalid-feedback">
                  <div *ngIf="form['category'].errors['required']">
                    This value is required
                  </div>
                </div>
              </div>
            </div>
            <!--end col-->
            <div class="col-md-6">
              <div class="mb-3">
                <label class="form-label">Target Language</label>
                <select class="form-select rounded-pill" name="category" formControlName="category"
                  [ngClass]="{'is-invalid': submitted && form['category'].errors}" id="event-category" required>
                  <option value="" select>Select a language</option>
                  <option value="">Spanish</option>
                  <option value="">Cantones</option>
                </select>
                <div *ngIf="submitted && form['category'].errors" class="invalid-feedback">
                  <div *ngIf="form['category'].errors['required']">
                    This value is required
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3">
                <label for="exampleInputdate" class="form-label">Start Date</label>
                <input type="date" class="form-control rounded-pill" id="exampleInputdate">
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3">
                <label for="exampleInputtime" class="form-label">Start Time</label>
                <input type="time" class="form-control rounded-pill" id="exampleInputtime">
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3">
                <label for="exampleInputdate" class="form-label">End Date</label>
                <input type="date" class="form-control rounded-pill" id="exampleInputdate">
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3">
                <label for="exampleInputtime" class="form-label">End Time</label>
                <input type="time" class="form-control rounded-pill" id="exampleInputtime">
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label class="form-label">What do you need interpreting for?</label>
                <select class="form-select rounded-pill" name="category" formControlName="category"
                  [ngClass]="{'is-invalid': submitted && form['category'].errors}" id="event-category" required>
                  <option value="">Select</option>
                  <option value="">Spanish</option>
                  <option value="">Cantones</option>
                </select>
                <div *ngIf="submitted && form['category'].errors" class="invalid-feedback">
                  <div *ngIf="form['category'].errors['required']">
                    This value is required
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label class="form-label">Communication Type</label>
                <select class="form-select rounded-pill" name="category" formControlName="category"
                  [ngClass]="{'is-invalid': submitted && form['category'].errors}" id="event-category" required>
                  <option value="">Select</option>
                  <option value="">Spanish</option>
                  <option value="">Cantones</option>
                </select>
                <div *ngIf="submitted && form['category'].errors" class="invalid-feedback">
                  <div *ngIf="form['category'].errors['required']">
                    This value is required
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label class="form-label">Member who will place the call</label>
                <select class="form-select rounded-pill" name="category" formControlName="category"
                  [ngClass]="{'is-invalid': submitted && form['category'].errors}" id="event-category" required>
                  <option value="" select>Jose Demo</option>
                  <option value="">Spanish</option>
                  <option value="">Cantones</option>
                </select>
                <small>Only change this if you are scheduling this call for another member of your organization.</small>
                <div *ngIf="submitted && form['category'].errors" class="invalid-feedback">
                  <div *ngIf="form['category'].errors['required']">
                    This value is required
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label class="form-label">How many interpreters do you need?</label>
                <select class="form-select rounded-pill" name="category" formControlName="category"
                  [ngClass]="{'is-invalid': submitted && form['category'].errors}" id="event-category" required>
                  <option value="" select>1</option>
                  <option value="">2</option>
                  <option value="">3</option>
                </select>
                <div *ngIf="submitted && form['category'].errors" class="invalid-feedback">
                  <div *ngIf="form['category'].errors['required']">
                    This value is required
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label class="form-label">Will the call take place on Speak Now Video, or another platform?</label>
                <select class="form-select rounded-pill" name="category" formControlName="category"
                  [ngClass]="{'is-invalid': submitted && form['category'].errors}" id="event-category" required>
                  <option value="" select>Speak Now Video</option>
                  <option value="">2</option>
                  <option value="">3</option>
                </select>
                <div *ngIf="submitted && form['category'].errors" class="invalid-feedback">
                  <div *ngIf="form['category'].errors['required']">
                    This value is required
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label">Description</label>
                <textarea class="form-control" id="event-description"
                  placeholder="Please provide any additional information about the appoinment/event special instructions for the interpreter. If you share your Speak Now Video ID with anyone else, please include your name, phone number and email address, so that we can contact you with a confirmation and/or questions."
                  rows="3" spellcheck="false" formControlName="desription"
                  [ngClass]="{ 'is-invalid': submitted && form['desription'].errors }"></textarea>
                <div *ngIf="submitted && form['desription'].errors" class="invalid-feedback">
                  <span *ngIf="form['desription'].errors['required']">This value is required.</span>
                </div>
              </div>
            </div>
            <!--end col-->
          </div>
          <div class="hstack gap-2 justify-content-end">
            <button type="submit" class="btn btn-danger rounded-pill fw-medium px-5" id="btn-save-event">Submit</button>
          </div>
        </form>
      </div>
    </ng-template>
    <!-- end modal-->

    <!-- Edit event modal -->
    <ng-template #editmodalShow let-modal>
      <div class="modal-header p-3 bg-soft-info">
        <h5 class="modal-title" id="modal-title">All Day Event</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"
          (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body p-4">
        <form [formGroup]="formEditData" (ngSubmit)="editEventSave()">
          <div class="row event-form">
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label">Type</label>
                <select class="form-control" name="ecategory" formControlName="editCategory" required>
                  <option *ngFor="let option of category" value="{{ option.value }}">
                    {{ option.name }}
                  </option>
                </select>
              </div>
            </div>
            <!--end col-->
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label">Event Name</label>
                <input class="form-control" placeholder="Insert Event Name" type="text" name="editTitle"
                  formControlName="editTitle" />
              </div>
            </div>
            <!--end col-->
            <div class="col-12">
              <div class="mb-3">
                <label>Event Date</label>
                <div class="input-group">
                  <input class="form-control flatpickr-input" type="text" mwlFlatpickr name="editDate"
                    formControlName="editDate" [altInput]="true" [convertModelValue]="true" placeholder="Select date">
                </div>
              </div>
            </div>
            <!--end col-->
            <div class="col-12" id="event-time">
              <div class="row">
                <div class="col-6">
                  <div class="mb-3">
                    <label class="form-label">Start Time</label>
                    <div class="input-group">
                      <input class="form-control flatpickr-input" type="text" placeholder="Select start time"
                        mwlFlatpickr [noCalendar]="true" name="editStart" formControlName="editStart"
                        [enableTime]="true" [dateFormat]="'H:i'">
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="mb-3">
                    <label class="form-label">End Time</label>
                    <div class="input-group">
                      <input class="form-control flatpickr-input" type="text" placeholder="Select end time" mwlFlatpickr
                        [noCalendar]="true" name="editEnd" formControlName="editEnd" [enableTime]="true"
                        [dateFormat]="'H:i'">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--end col-->
            <div class="col-12">
              <div class="mb-3">
                <label for="event-location">Location</label>
                <div>
                  <input type="text" class="form-control" name="editlocation" formControlName="editlocation"
                    placeholder="Event location">
                </div>
              </div>
            </div>
            <!--end col-->
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label">Description</label>
                <textarea class="form-control" name="editDescription" placeholder="Enter a description"
                  formControlName="editDescription" rows="3" spellcheck="false"></textarea>
              </div>
            </div>
            <!--end col-->
          </div>
          <div class="hstack gap-2 justify-content-end">
            <button type="button" class="btn btn-soft-danger" id="btn-delete-event" (click)="confirm()"><i
                class="ri-close-line align-bottom"></i> Delete</button>
            <button type="submit" class="btn btn-success" id="btn-save-event">Update Event</button>
          </div>
        </form>
      </div>
    </ng-template>
    <!-- end modal-->
  </div>
</div> <!-- end row-->