<div class="row">
  <div class="col-12">
    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
      <h4 class="mb-sm-0">INTERPRETERS ACTIVITY</h4>
    </div>
  </div>
</div>

<!-- filter -->
<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">Filter by</h4>
      </div><!-- end card header -->

      <div class="card-body">
        <div class="row">
          <div class="col-md-6 mb-3 mb-md-0">
            <div>
              <label for="exampleInputdate" class="form-label">Start Date</label>
              <input type="date" class="form-control rounded-pill" id="exampleInputdate">
            </div>
          </div>
          <div class="col-md-6">
            <div>
              <label for="exampleInputdateEnd" class="form-label">End Date</label>
              <input type="date" class="form-control rounded-pill" id="exampleInputdateEnd">
            </div>
          </div>
        </div>
        <div class="text-end mt-3">
          <button type="button"
            class="btn rounded-pill btn-danger px-4 fw-medium waves-effect waves-light">Search</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- filter end-->

<div class="row">
  <div class="col-xl-6">
    <div class="card">
      <div class="card-header align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">Assignments OPI / VRI / ASL</h4>
      </div>

      <div class="row mx-0">
        <div class="box-data bg-warning">
          <h3>7</h3>
          <p>Confirmation Pending</p>
        </div>
        <div class="box-data bg-success">
          <h3>15</h3>
          <p>Schedule Total</p>
        </div>
      </div>

      <div class="card-body mt-3">
        <!-- Nav tabs -->
        <ul class="nav nav-pills mb-3" role="tablist">
          <li class="nav-item waves-effect waves-light" role="presentation">
            <a class="nav-link active" data-bs-toggle="tab" href="#home-5" role="tab"
              aria-selected="true">Invitations</a>
          </li>
          <li class="nav-item waves-effect waves-light" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#profile-6" role="tab" aria-selected="false"
              tabindex="-1">Accepted</a>
          </li>
          <li class="nav-item waves-effect waves-light" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#messages-7" role="tab" aria-selected="false"
              tabindex="-1">Confirmed</a>
          </li>
          <li class="nav-item waves-effect waves-light" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#settings-8" role="tab" aria-selected="false"
              tabindex="-1">In Progress</a>
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content text-muted">
          <div class="tab-pane active" id="home-5" role="tabpanel">
            <div class="live-preview">
              <div data-simplebar="init" style="max-height: 215px;">
                <div class="simplebar-wrapper" style="margin: 0px;">
                  <div class="simplebar-height-auto-observer-wrapper">
                    <div class="simplebar-height-auto-observer"></div>
                  </div>
                  <div class="simplebar-mask">
                    <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                      <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content"
                        style="height: auto; overflow: hidden scroll;">
                        <div class="simplebar-content" style="padding: 0px;">
                          <ul class="list-group mb-1">
                            <li class="list-group-item">
                              <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                  <div class="flex-shrink-0">
                                    <div class="text-muted">Today @ 4:00 PM for 2h 0min</div>
                                    <div class="text-muted">Video with My Company - CEO Dan Mark</div>
                                    <div class="text-muted">Denver</div>
                                    <h6 class="fs-14 mb-0">Interpreter Manager</h6>
                                  </div>
                                </div>
                                <div class="flex-shrink-0">
                                  <div class="avatar-title bg-soft-primary text-primary rounded px-2">
                                    <i class="mdi mdi-video-outline fs-3"></i>
                                  </div>
                                </div>
                              </div>
                            </li>
                            <li class="list-group-item">
                              <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                  <div class="flex-shrink-0">
                                    <div class="text-muted">Today @ 4:00 PM for 2h 0min</div>
                                    <div class="text-muted">Audio with My Company - CEO Dan Mark</div>
                                    <div class="text-muted">Denver</div>
                                    <h6 class="fs-14 mb-0">Interpreter Manager</h6>
                                  </div>
                                </div>
                                <div class="flex-shrink-0">
                                  <div class="avatar-title bg-soft-primary text-primary rounded px-2">
                                    <i class="mdi mdi-volume-high fs-3"></i>
                                  </div>
                                </div>
                              </div>
                            </li>
                            <li class="list-group-item">
                              <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                  <div class="flex-shrink-0">
                                    <div class="text-muted">Today @ 4:00 PM for 2h 0min</div>
                                    <div class="text-muted">Onsite with My Company - CEO Dan Mark</div>
                                    <div class="text-muted">Denver, CO, USA</div>
                                    <h6 class="fs-14 mb-0">Interpreter Manager</h6>
                                  </div>
                                </div>
                                <div class="flex-shrink-0">
                                  <div class="avatar-title bg-soft-primary text-primary rounded px-2">
                                    <i class="mdi mdi-map-marker-outline fs-3"></i>
                                  </div>
                                </div>
                              </div>
                            </li>
                            <li class="list-group-item">
                              <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                  <div class="flex-shrink-0">
                                    <div class="text-muted">Today @ 4:00 PM for 2h 0min</div>
                                    <div class="text-muted">Video with My Company - CEO Dan Mark</div>
                                    <div class="text-muted">Denver</div>
                                    <h6 class="fs-14 mb-0">Interpreter Manager</h6>
                                  </div>
                                </div>
                                <div class="flex-shrink-0">
                                  <div class="avatar-title bg-soft-primary text-primary rounded px-2">
                                    <i class="mdi mdi-video-outline fs-3"></i>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="simplebar-placeholder" style="width: auto; height: 302px;"></div>
                </div>
                <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                  <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
                </div>
                <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                  <div class="simplebar-scrollbar"
                    style="height: 153px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="profile-6" role="tabpanel">
            <div class="live-preview">
              <div data-simplebar="init" style="max-height: 215px;">
                <div class="simplebar-wrapper" style="margin: 0px;">
                  <div class="simplebar-height-auto-observer-wrapper">
                    <div class="simplebar-height-auto-observer"></div>
                  </div>
                  <div class="simplebar-mask">
                    <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                      <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content"
                        style="height: auto; overflow: hidden scroll;">
                        <div class="simplebar-content" style="padding: 0px;">
                          <ul class="list-group mb-1">
                            <li class="list-group-item">
                              <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                  <div class="flex-shrink-0">
                                    <div class="text-muted">Today @ 4:00 PM for 2h 0min</div>
                                    <div class="text-muted">Onsite with My Company - CEO Dan Mark</div>
                                    <div class="text-muted">Denver, CO, USA</div>
                                    <h6 class="fs-14 mb-0">Interpreter Manager</h6>
                                  </div>
                                </div>
                                <div class="flex-shrink-0">
                                  <div class="avatar-title bg-soft-secondary text-secondary rounded px-2">
                                    <i class="mdi mdi-map-marker-outline fs-3"></i>
                                  </div>
                                </div>
                              </div>
                            </li>
                            <li class="list-group-item">
                              <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                  <div class="flex-shrink-0">
                                    <div class="text-muted">Today @ 4:00 PM for 2h 0min</div>
                                    <div class="text-muted">Video with My Company - CEO Dan Mark</div>
                                    <div class="text-muted">Denver</div>
                                    <h6 class="fs-14 mb-0">Interpreter Manager</h6>
                                  </div>
                                </div>
                                <div class="flex-shrink-0">
                                  <div class="avatar-title bg-soft-secondary text-secondary rounded px-2">
                                    <i class="mdi mdi-video-outline fs-3"></i>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="simplebar-placeholder" style="width: auto; height: 302px;"></div>
                </div>
                <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                  <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
                </div>
                <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                  <div class="simplebar-scrollbar"
                    style="height: 153px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="messages-7" role="tabpanel">
            <div class="live-preview">
              <div data-simplebar="init" style="max-height: 215px;">
                <div class="simplebar-wrapper" style="margin: 0px;">
                  <div class="simplebar-height-auto-observer-wrapper">
                    <div class="simplebar-height-auto-observer"></div>
                  </div>
                  <div class="simplebar-mask">
                    <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                      <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content"
                        style="height: auto; overflow: hidden scroll;">
                        <div class="simplebar-content" style="padding: 0px;">
                          <ul class="list-group mb-1">
                            <li class="list-group-item">
                              <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                  <div class="flex-shrink-0">
                                    <div class="text-muted">Today @ 4:00 PM for 2h 0min</div>
                                    <div class="text-muted">Audio with My Company - CEO Dan Mark</div>
                                    <div class="text-muted">Denver</div>
                                    <h6 class="fs-14 mb-0">Interpreter Manager</h6>
                                  </div>
                                </div>
                                <div class="flex-shrink-0">
                                  <div class="avatar-title bg-soft-success text-success rounded px-2">
                                    <i class="mdi mdi-volume-high fs-3"></i>
                                  </div>
                                </div>
                              </div>
                            </li>
                            <li class="list-group-item">
                              <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                  <div class="flex-shrink-0">
                                    <div class="text-muted">Today @ 4:00 PM for 2h 0min</div>
                                    <div class="text-muted">Onsite with My Company - CEO Dan Mark</div>
                                    <div class="text-muted">Denver, CO, USA</div>
                                    <h6 class="fs-14 mb-0">Interpreter Manager</h6>
                                  </div>
                                </div>
                                <div class="flex-shrink-0">
                                  <div class="avatar-title bg-soft-success text-success rounded px-2">
                                    <i class="mdi mdi-map-marker-outline fs-3"></i>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="simplebar-placeholder" style="width: auto; height: 302px;"></div>
                </div>
                <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                  <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
                </div>
                <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                  <div class="simplebar-scrollbar"
                    style="height: 153px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="settings-8" role="tabpanel">
            <div class="live-preview">
              <div data-simplebar="init" style="max-height: 215px;">
                <div class="simplebar-wrapper" style="margin: 0px;">
                  <div class="simplebar-height-auto-observer-wrapper">
                    <div class="simplebar-height-auto-observer"></div>
                  </div>
                  <div class="simplebar-mask">
                    <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                      <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content"
                        style="height: auto; overflow: hidden scroll;">
                        <div class="simplebar-content" style="padding: 0px;">
                          <ul class="list-group mb-1">
                            <li class="list-group-item">
                              <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                  <div class="flex-shrink-0">
                                    <div class="text-muted">Today @ 4:00 PM for 2h 0min</div>
                                    <div class="text-muted">Audio with My Company - CEO Dan Mark</div>
                                    <div class="text-muted">Denver</div>
                                    <h6 class="fs-14 mb-0">Interpreter Manager</h6>
                                  </div>
                                </div>
                                <div class="flex-shrink-0">
                                  <div class="avatar-title bg-soft-warning text-warning rounded px-2">
                                    <i class="mdi mdi-volume-high fs-3"></i>
                                  </div>
                                </div>
                              </div>
                            </li>
                            <li class="list-group-item">
                              <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                  <div class="flex-shrink-0">
                                    <div class="text-muted">Today @ 4:00 PM for 2h 0min</div>
                                    <div class="text-muted">Onsite with My Company - CEO Dan Mark</div>
                                    <div class="text-muted">Denver, CO, USA</div>
                                    <h6 class="fs-14 mb-0">Interpreter Manager</h6>
                                  </div>
                                </div>
                                <div class="flex-shrink-0">
                                  <div class="avatar-title bg-soft-warning text-warning rounded px-2">
                                    <i class="mdi mdi-map-marker-outline fs-3"></i>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="simplebar-placeholder" style="width: auto; height: 302px;"></div>
                </div>
                <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                  <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
                </div>
                <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                  <div class="simplebar-scrollbar"
                    style="height: 153px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="col-xl-6">
    <div class="card">
      <div class="card-header align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">Assignments On-Site Interpreting</h4>
      </div>

      <div class="row mx-0">
        <div class="box-data bg-warning">
          <h3>3</h3>
          <p>Confirmation Pending</p>
        </div>
        <div class="box-data bg-success">
          <h3>5</h3>
          <p>Schedule Total</p>
        </div>
      </div>

      <div class="card-body mt-3">
        <!-- Nav tabs -->
        <ul class="nav nav-pills mb-3" role="tablist">
          <li class="nav-item waves-effect waves-light" role="presentation">
            <a class="nav-link active" data-bs-toggle="tab" href="#home-1" role="tab"
              aria-selected="true">Invitations</a>
          </li>
          <li class="nav-item waves-effect waves-light" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#profile-1" role="tab" aria-selected="false"
              tabindex="-1">Accepted</a>
          </li>
          <li class="nav-item waves-effect waves-light" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#messages-1" role="tab" aria-selected="false"
              tabindex="-1">Confirmed</a>
          </li>
          <li class="nav-item waves-effect waves-light" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#settings-1" role="tab" aria-selected="false"
              tabindex="-1">In Progress</a>
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content text-muted">
          <div class="tab-pane active" id="home-1" role="tabpanel">
            <div class="live-preview">
              <div data-simplebar="init" style="max-height: 215px;">
                <div class="simplebar-wrapper" style="margin: 0px;">
                  <div class="simplebar-height-auto-observer-wrapper">
                    <div class="simplebar-height-auto-observer"></div>
                  </div>
                  <div class="simplebar-mask">
                    <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                      <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content"
                        style="height: auto; overflow: hidden scroll;">
                        <div class="simplebar-content" style="padding: 0px;">
                          <ul class="list-group mb-1">
                            <li class="list-group-item">
                              <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                  <div class="flex-shrink-0">
                                    <div class="text-muted">Today @ 4:00 PM for 2h 0min</div>
                                    <div class="text-muted">Video with My Company - CEO Dan Mark</div>
                                    <div class="text-muted">Denver</div>
                                    <h6 class="fs-14 mb-0">Interpreter Manager</h6>
                                  </div>
                                </div>
                                <div class="flex-shrink-0">
                                  <div class="avatar-title bg-soft-primary text-primary rounded px-2">
                                    <i class="mdi mdi-video-outline fs-3"></i>
                                  </div>
                                </div>
                              </div>
                            </li>
                            <li class="list-group-item">
                              <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                  <div class="flex-shrink-0">
                                    <div class="text-muted">Today @ 4:00 PM for 2h 0min</div>
                                    <div class="text-muted">Audio with My Company - CEO Dan Mark</div>
                                    <div class="text-muted">Denver</div>
                                    <h6 class="fs-14 mb-0">Interpreter Manager</h6>
                                  </div>
                                </div>
                                <div class="flex-shrink-0">
                                  <div class="avatar-title bg-soft-primary text-primary rounded px-2">
                                    <i class="mdi mdi-volume-high fs-3"></i>
                                  </div>
                                </div>
                              </div>
                            </li>
                            <li class="list-group-item">
                              <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                  <div class="flex-shrink-0">
                                    <div class="text-muted">Today @ 4:00 PM for 2h 0min</div>
                                    <div class="text-muted">Onsite with My Company - CEO Dan Mark</div>
                                    <div class="text-muted">Denver, CO, USA</div>
                                    <h6 class="fs-14 mb-0">Interpreter Manager</h6>
                                  </div>
                                </div>
                                <div class="flex-shrink-0">
                                  <div class="avatar-title bg-soft-primary text-primary rounded px-2">
                                    <i class="mdi mdi-map-marker-outline fs-3"></i>
                                  </div>
                                </div>
                              </div>
                            </li>
                            <li class="list-group-item">
                              <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                  <div class="flex-shrink-0">
                                    <div class="text-muted">Today @ 4:00 PM for 2h 0min</div>
                                    <div class="text-muted">Video with My Company - CEO Dan Mark</div>
                                    <div class="text-muted">Denver</div>
                                    <h6 class="fs-14 mb-0">Interpreter Manager</h6>
                                  </div>
                                </div>
                                <div class="flex-shrink-0">
                                  <div class="avatar-title bg-soft-primary text-primary rounded px-2">
                                    <i class="mdi mdi-video-outline fs-3"></i>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="simplebar-placeholder" style="width: auto; height: 302px;"></div>
                </div>
                <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                  <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
                </div>
                <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                  <div class="simplebar-scrollbar"
                    style="height: 153px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="profile-1" role="tabpanel">
            <div class="live-preview">
              <div data-simplebar="init" style="max-height: 215px;">
                <div class="simplebar-wrapper" style="margin: 0px;">
                  <div class="simplebar-height-auto-observer-wrapper">
                    <div class="simplebar-height-auto-observer"></div>
                  </div>
                  <div class="simplebar-mask">
                    <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                      <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content"
                        style="height: auto; overflow: hidden scroll;">
                        <div class="simplebar-content" style="padding: 0px;">
                          <ul class="list-group mb-1">
                            <li class="list-group-item">
                              <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                  <div class="flex-shrink-0">
                                    <div class="text-muted">Today @ 4:00 PM for 2h 0min</div>
                                    <div class="text-muted">Onsite with My Company - CEO Dan Mark</div>
                                    <div class="text-muted">Denver, CO, USA</div>
                                    <h6 class="fs-14 mb-0">Interpreter Manager</h6>
                                  </div>
                                </div>
                                <div class="flex-shrink-0">
                                  <div class="avatar-title bg-soft-secondary text-secondary rounded px-2">
                                    <i class="mdi mdi-map-marker-outline fs-3"></i>
                                  </div>
                                </div>
                              </div>
                            </li>
                            <li class="list-group-item">
                              <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                  <div class="flex-shrink-0">
                                    <div class="text-muted">Today @ 4:00 PM for 2h 0min</div>
                                    <div class="text-muted">Video with My Company - CEO Dan Mark</div>
                                    <div class="text-muted">Denver</div>
                                    <h6 class="fs-14 mb-0">Interpreter Manager</h6>
                                  </div>
                                </div>
                                <div class="flex-shrink-0">
                                  <div class="avatar-title bg-soft-secondary text-secondary rounded px-2">
                                    <i class="mdi mdi-video-outline fs-3"></i>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="simplebar-placeholder" style="width: auto; height: 302px;"></div>
                </div>
                <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                  <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
                </div>
                <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                  <div class="simplebar-scrollbar"
                    style="height: 153px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="messages-1" role="tabpanel">
            <div class="live-preview">
              <div data-simplebar="init" style="max-height: 215px;">
                <div class="simplebar-wrapper" style="margin: 0px;">
                  <div class="simplebar-height-auto-observer-wrapper">
                    <div class="simplebar-height-auto-observer"></div>
                  </div>
                  <div class="simplebar-mask">
                    <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                      <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content"
                        style="height: auto; overflow: hidden scroll;">
                        <div class="simplebar-content" style="padding: 0px;">
                          <ul class="list-group mb-1">
                            <li class="list-group-item">
                              <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                  <div class="flex-shrink-0">
                                    <div class="text-muted">Today @ 4:00 PM for 2h 0min</div>
                                    <div class="text-muted">Audio with My Company - CEO Dan Mark</div>
                                    <div class="text-muted">Denver</div>
                                    <h6 class="fs-14 mb-0">Interpreter Manager</h6>
                                  </div>
                                </div>
                                <div class="flex-shrink-0">
                                  <div class="avatar-title bg-soft-success text-success rounded px-2">
                                    <i class="mdi mdi-volume-high fs-3"></i>
                                  </div>
                                </div>
                              </div>
                            </li>
                            <li class="list-group-item">
                              <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                  <div class="flex-shrink-0">
                                    <div class="text-muted">Today @ 4:00 PM for 2h 0min</div>
                                    <div class="text-muted">Onsite with My Company - CEO Dan Mark</div>
                                    <div class="text-muted">Denver, CO, USA</div>
                                    <h6 class="fs-14 mb-0">Interpreter Manager</h6>
                                  </div>
                                </div>
                                <div class="flex-shrink-0">
                                  <div class="avatar-title bg-soft-success text-success rounded px-2">
                                    <i class="mdi mdi-map-marker-outline fs-3"></i>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="simplebar-placeholder" style="width: auto; height: 302px;"></div>
                </div>
                <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                  <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
                </div>
                <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                  <div class="simplebar-scrollbar"
                    style="height: 153px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="settings-1" role="tabpanel">
            <div class="live-preview">
              <div data-simplebar="init" style="max-height: 215px;">
                <div class="simplebar-wrapper" style="margin: 0px;">
                  <div class="simplebar-height-auto-observer-wrapper">
                    <div class="simplebar-height-auto-observer"></div>
                  </div>
                  <div class="simplebar-mask">
                    <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                      <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content"
                        style="height: auto; overflow: hidden scroll;">
                        <div class="simplebar-content" style="padding: 0px;">
                          <ul class="list-group mb-1">
                            <li class="list-group-item">
                              <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                  <div class="flex-shrink-0">
                                    <div class="text-muted">Today @ 4:00 PM for 2h 0min</div>
                                    <div class="text-muted">Audio with My Company - CEO Dan Mark</div>
                                    <div class="text-muted">Denver</div>
                                    <h6 class="fs-14 mb-0">Interpreter Manager</h6>
                                  </div>
                                </div>
                                <div class="flex-shrink-0">
                                  <div class="avatar-title bg-soft-warning text-warning rounded px-2">
                                    <i class="mdi mdi-volume-high fs-3"></i>
                                  </div>
                                </div>
                              </div>
                            </li>
                            <li class="list-group-item">
                              <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                  <div class="flex-shrink-0">
                                    <div class="text-muted">Today @ 4:00 PM for 2h 0min</div>
                                    <div class="text-muted">Onsite with My Company - CEO Dan Mark</div>
                                    <div class="text-muted">Denver, CO, USA</div>
                                    <h6 class="fs-14 mb-0">Interpreter Manager</h6>
                                  </div>
                                </div>
                                <div class="flex-shrink-0">
                                  <div class="avatar-title bg-soft-warning text-warning rounded px-2">
                                    <i class="mdi mdi-map-marker-outline fs-3"></i>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="simplebar-placeholder" style="width: auto; height: 302px;"></div>
                </div>
                <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                  <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
                </div>
                <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                  <div class="simplebar-scrollbar"
                    style="height: 153px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>