<div class="row">
  <div class="col-12">
    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
      <h4 class="mb-sm-0">Interpreters Profile</h4>
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="javascript: void(0);">Segurity</a></li>
          <li class="breadcrumb-item active">Role</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xxl-12">
    <div class="card">
      <div class="card-header">
        <!-- Nav tabs -->
        <ul class="nav nav-pills nav-primary" role="tablist">
          <li class="nav-item waves-effect waves-light" role="presentation">
            <a class="nav-link active" data-bs-toggle="tab" href="#home-1" role="tab" aria-selected="false"
              tabindex="-1">Personal</a>
          </li>
          <li class="nav-item waves-effect waves-light" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#profile-1" role="tab" aria-selected="false"
              tabindex="-1">Services</a>
          </li>
          <li class="nav-item waves-effect waves-light" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#messages-1" role="tab"
              aria-selected="true">Documentation</a>
          </li>

          <li class="nav-item waves-effect waves-light" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#resume-tap" role="tab" aria-selected="true">Resume</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <!-- Tab panes -->
        <div class="tab-content text-muted">
          <div class="tab-pane active show" id="home-1" role="tabpanel">

            <form [formGroup]="frmInterpreter">

              <div class="row mt-4">

                <div class="col-lg-3 col-md-3 col-sm-12 text-center">

                  <label for="avatar-interpreter" >
                    <img [src]="fileUrl" alt="" class="rounded-circle avatar-xl c-pointer">
                  </label>

                  <input type="file" id="avatar-interpreter" class="d-none" (change)="onChangeFile( $event.target )" />

                </div>

                <div class="col-lg-9 col-md-9 col-sm-12">

                  <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-6">
                      <label for="firstname" class="form-label">First Name</label>
                      <input type="text"
                        class="form-control rounded-pill"
                        id="firstname"
                        placeholder="Enter your name"
                        formControlName="name"
                      >
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6">
                      <label for="lastname" class="form-label">Last Name</label>
                      <input type="text"
                        class="form-control rounded-pill"
                        id="lastname"
                        placeholder="Enter your name"
                        formControlName="surname"
                      >
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12">
                      <label for="iconInput" class="form-label">E-mail</label>
                      <input type="email"
                        class="form-control rounded-pill"
                        id="iconInput"
                        placeholder="example@gmail.com"
                        readonly
                        [disabled]="true"
                        formControlName="email"
                      >
                    </div>

                  </div>

                  <div class="row pt-3">

                    <div class="col-lg-4 col-md-4 col-sm-6">
                      <label for="exampleInputtime" class="form-label">Time Zone</label>
                      <ng-select [items]="timezones" bindLabel="zoneName" bindValue="id" placeholder="Select Time zone"
                        formControlName="timzoneId" [loading]="loadingTimezone"
                        [class.is-invalid]="controls['timzoneId'].errors  &&  touched('timzoneId')">

                      </ng-select>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6">

                      <label for="lastname" class="form-label">Gender</label>
                      <select class="form-select rounded-pill" aria-label="Default select example" formControlName="gender">
                        <option selected="">Select</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                      </select>

                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12">

                      <label for="lastname" class="form-label">Specialized Types</label>
                      <select class="form-select rounded-pill"
                        aria-label="Default select example"
                        formControlName="specializedType"
                        [class.is-invalid]="controls['specializedType'].errors  &&  touched('specializedType')"
                       >
                        <option selected="" [value]="null" >Select</option>
                        <option [value]="item.id" *ngFor="let item of servicesType" >
                          {{ item.label }}
                        </option>
                      </select>

                    </div>

                  </div>

                  <div class="row pt-3">

                    <div class="col-lg-4 col-md-4 col-sm-6">
                      <label for="lastname" class="form-label">Years of Experience</label>
                      <input type="number"
                        class="form-control rounded-pill"
                        id="lastname"
                        formControlName="experienceYears"
                        placeholder="Enter years of Experience"
                        [class.is-invalid]="controls['experienceYears'].errors  &&  touched('experienceYears')"
                      >

                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6">
                      <label for="lastname" class="form-label">Telephone Number</label>
                      <input type="number"
                        class="form-control rounded-pill"
                        id="lastname"
                        placeholder="Enter your name"
                        formControlName="phone"
                      >
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12">
                      <label for="cleave-phone" class="form-label">Target languages</label>
                      <ng-select class=""
                        [items]="targetIdioms"
                        bindLabel="language"
                        bindValue="id"
                        placeholder="Select target languages"
                        formControlName="targetLanguages"
                        [multiple]="true"
                        [loading]="loadingIdioms"
                        (change)="onSelectTargetLanguages($event)"
                        [class.is-invalid]="controls['targetLanguages'].errors  &&  touched('targetLanguages')">
                      </ng-select>
                    </div>

                  </div>

                </div>

              </div>


            </form>

            <hr>

            <div class="row pt-3">

              <div class="col-lg-6 col-md-6 col-sm-12">

                <div class="row mt-md-0 mt-3 pb-2">
                  <div class="col-6">
                    <h5 class="m-0 lh-base">Contact</h5>
                  </div>
                  <div class="col-6 d-flex justify-content-end">
                    <button type="button" class="btn btn-sm btn-danger " (click)="onAddContact()">
                      <i class="ri-add-line align-bottom me-1"></i>
                      Add
                    </button>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">

                    <table class="table table-responsive  table-nowrap mb-0">
                      <thead class="table-light">
                        <tr>
                          <th scope="col">Type</th>
                          <th scope="col">Rate</th>
                          <th scope="col">Actions</th>
                        </tr>
                      </thead>
                      <tbody>

                        <tr *ngFor="let itemContact of contacts">
                          <td>

                            <select class="form-select rounded-pill" aria-label="Default select example"
                              [formControl]="itemContact.contactType" [class.is-invalid]="itemContact.invalidType ">
                              <option selected="" disabled>Select</option>
                              <option [value]="item.value" *ngFor="let item of contacttype">
                                {{ item.value }}
                              </option>
                            </select>

                          </td>
                          <td>
                            <input type="text" class="form-control rounded-pill" placeholder="Access Code"
                              [formControl]="itemContact.contact" [class.is-invalid]="itemContact.invalidContact ">
                          </td>

                          <td>
                            <div class="mt-2 text-center">
                              <a href="javascript:void(0);" class="link-danger " (click)="onRemoveContact( itemContact )">
                                <i class="ri-delete-bin-line align-bottom "></i>
                              </a>
                            </div>
                          </td>
                        </tr>

                        <tr *ngIf="counterContacts == 0" >
                          <td colspan="3" class="text-muted text-center">
                            Add to contact to interpreter
                          </td>
                        </tr>

                      </tbody>
                    </table>

                  </div>
                </div>

              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <label for="formFile" class="form-label">Resume File</label>

                <ngx-dropzone [multiple]="false" class="dropzone_sec" (change)="onSelect($event)"
                  accept="image/jpeg,image/jpg,application/pdf">
                  <ngx-dropzone-label>Drop or selec file</ngx-dropzone-label>

                  <ngx-dropzone-preview class="c-dropzone-preview" *ngIf="file" [removable]="true"
                    (removed)="onRemove(file)" [file]="file" >
                    <ngx-dropzone-label>{{ file.name }} ({{ file.type }})</ngx-dropzone-label>
                  </ngx-dropzone-preview>

                </ngx-dropzone>

                <div *ngIf="resumeName !== ''" class="pt-4 text-center" >
                  <label for="formFile" class="form-label">
                    {{ resumeName }}
                  </label>
                </div>

              </div>

            </div>

            <div class="row pt-3">

              <!-- <div class="col-md-6">
                <label for="disabledInput" class="form-label">Rate</label>
                <input type="text" class="form-control" id="disabledInput" value="Disabled input">
              </div> -->

              <div class="col-12">

                <div class="row mt-md-0 mt-3 pb-2">
                  <div class="col-6">
                    <h5 class="m-0 lh-base">Rate For language</h5>
                  </div>
                  <div class="col-6 d-flex justify-content-end">
                    <button type="button" class="btn btn-sm btn-danger " (click)="onAddrate()">
                      <i class="ri-add-line align-bottom me-1"></i>
                      Add
                    </button>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">

                    <table class="table table-responsive  table-nowrap mb-0">
                      <thead class="table-light">
                        <tr>
                          <th scope="col">Language</th>
                          <th scope="col">Type</th>
                          <th scope="col">Rate</th>
                          <th scope="col">Actions</th>
                        </tr>
                      </thead>
                      <tbody>

                        <tr *ngFor="let dpt of rates">

                          <!-- idiom -->
                          <td>
                            <ng-select class=""
                              [items]="rateTargetIdioms"
                              bindLabel="language"
                              bindValue="id"
                              placeholder="Select language"
                              [formControl]="dpt.idiom"
                              [class.is-invalid]="dpt.invalidIdiom">
                            </ng-select>

                          </td>

                          <td>

                            <select class="form-select rounded-pill" aria-label="Default select example"
                              [formControl]="dpt.type" [class.is-invalid]="dpt.invalidType ">
                              <option selected="" disabled>Select</option>
                              <option [value]="item.value" *ngFor="let item of calltype">
                                {{ item.value }}
                              </option>
                            </select>

                          </td>
                          <td>
                            <input type="text" class="form-control rounded-pill" placeholder="Access Code"
                              [formControl]="dpt.rate" [class.is-invalid]="dpt.invalidRate ">
                          </td>

                          <td>
                            <div class="mt-2 text-center">
                              <a href="javascript:void(0);" class="link-danger " (click)="onRemoveRate( dpt )">
                                <i class="ri-delete-bin-line align-bottom "></i>
                              </a>
                            </div>
                          </td>
                        </tr>

                        <tr *ngIf="counterRates == 0" >
                          <td colspan="4" class="text-muted text-center">
                            Add to contact to interpreter
                          </td>
                        </tr>

                      </tbody>
                    </table>

                  </div>
                </div>

              </div>

            </div>

            <div class="hstack gap-2 justify-content-center mt-4">

              <button class="btn btn-danger rounded-pill fw-medium px-5" [disabled]="invalid || invalidRate || saving"
                (click)="onSubmit()">
                Save
              </button>

              <button class="btn btn-light rounded-pill fw-medium px-5">
                Reset
              </button>

            </div>

          </div>

          <div class="tab-pane" id="profile-1" role="tabpanel">

            <app-interpreter-services [id]="id" [officeHours]="officeHours" [services]="servicesProfile" ></app-interpreter-services>

          </div>

          <div class="tab-pane" id="messages-1" role="tabpanel">

            <app-interpreter-files [id]="id" ></app-interpreter-files>

          </div>

          <div class="tab-pane" id="resume-tap" role="tabpanel">
            <h1 class="headline-1">
              My resume
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
