<div class="row">
  <div class="col-12">
    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
      <h4 class="mb-sm-0">Interpreters Profile</h4>
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="javascript: void(0);">Segurity</a></li>
          <li class="breadcrumb-item active">Role</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xxl-12">
    <div class="card">
      <div class="card-header">
        <!-- Nav tabs -->
        <ul class="nav nav-pills nav-primary" role="tablist">
          <li class="nav-item waves-effect waves-light" role="presentation">
            <a class="nav-link active" data-bs-toggle="tab" href="#home-1" role="tab" aria-selected="false"
              tabindex="-1">Personal</a>
          </li>
          <li class="nav-item waves-effect waves-light" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#profile-1" role="tab" aria-selected="false"
              tabindex="-1">Services</a>
          </li>
          <li class="nav-item waves-effect waves-light" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#messages-1" role="tab"
              aria-selected="true">Documentation</a>
          </li>

          <li class="nav-item waves-effect waves-light" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#resume-tap" role="tab" aria-selected="true">Resume</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <!-- Tab panes -->
        <div class="tab-content text-muted">
          <div class="tab-pane active show" id="home-1" role="tabpanel">

            <form [formGroup]="frmInterpreter">

              <div class="row gy-4">

                <div class="col-md-3 col-sm-6 col-xs-12">
                  <label for="firstname" class="form-label">First Name</label>
                  <input type="text" class="form-control rounded-pill" id="firstname" placeholder="Enter your name"
                    formControlName="name">
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                  <div>
                    <label for="lastname" class="form-label">Last Name</label>
                    <input type="text" class="form-control rounded-pill" id="lastname" placeholder="Enter your name"
                      formControlName="surname">
                  </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">

                  <label for="cleave-phone" class="form-label">Target languages</label>
                  <ng-select class="" [items]="targetIdioms" bindLabel="name" bindValue="id"
                    placeholder="Select target languages" formControlName="targetLanguages" [multiple]="true"
                    [loading]="loadingIdioms"
                    [class.is-invalid]="controls['targetLanguages'].errors  &&  touched('targetLanguages')">
                  </ng-select>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                  <div>
                    <label for="lastname" class="form-label">Telephone Number</label>
                    <input type="number" class="form-control rounded-pill" id="lastname" placeholder="Enter your name"
                      formControlName="phone">
                  </div>
                </div>

              </div>

              <div class="row pt-3">

                <div class="col-md-3 col-sm-6 col-xs-12">
                  <label for="exampleInputtime" class="form-label">Time Zone</label>
                  <ng-select [items]="timezones" bindLabel="zoneName" bindValue="id" placeholder="Select Time zone"
                    formControlName="timzoneId" [loading]="loadingTimezone"
                    [class.is-invalid]="controls['timzoneId'].errors  &&  touched('timzoneId')">

                  </ng-select>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                  <label for="lastname" class="form-label">Gender</label>
                  <select class="form-select rounded-pill" aria-label="Default select example" formControlName="gender">
                    <option selected="">Select</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                  </select>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                  <label for="lastname" class="form-label">Specialized Types</label>
                  <select class="form-select rounded-pill" aria-label="Default select example">
                    <option selected="">Select</option>
                    <option value="1">Specialized 1</option>
                    <option value="2">Specialized 2</option>
                    <option value="3">Specialized 3</option>
                  </select>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                  <label for="lastname" class="form-label">Years of Experience</label>
                  <input type="text" class="form-control rounded-pill" id="lastname" placeholder="Enter your name">
                </div>

              </div>

              <div class="row pt-3">
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <label for="formFile" class="form-label">File Input</label>
                  <div class="file-select">
                    <input class="form-control rounded-pill" type="file" id="formFile" placeholder="filessss">
                  </div>
                  <!-- <div class="card-body">
                    <p class="text-muted">DropzoneJS is an open source library that provides drag’n’drop file uploads
                      with
                      image previews.</p>

                    <dropzone class="dropzone_sec"></dropzone>
                  </div> -->
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12">
                  <label for="iconInput" class="form-label">E-mail</label>
                  <input type="email" class="form-control rounded-pill" id="iconInput" placeholder="example@gmail.com"
                    formControlName="email">
                </div>
              </div>

            </form>

            <div class="row pt-3">

              <div class="col-md-6">
                <label for="disabledInput" class="form-label">Rate</label>
                <input type="text" class="form-control" id="disabledInput" value="Disabled input">
              </div>

              <div class="col-md-6">

                <div class="row pb-2 pt-2">
                  <div class="col-6">
                    <h4>
                      Rate
                    </h4>
                  </div>
                  <div class="col-6 d-flex justify-content-end">
                    <button type="button" class="btn btn-sm btn-dark " (click)="onAddrate()">
                      <i class="ri-add-line align-bottom me-1"></i>
                      Add
                    </button>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">

                    <table class="table table-responsive  table-nowrap mb-0">
                      <thead class="table-light">
                        <tr>
                          <th scope="col">Type</th>
                          <th scope="col">Rate</th>
                          <th scope="col">Actions</th>
                        </tr>
                      </thead>
                      <tbody>

                        <tr *ngFor="let dpt of rates">
                          <td>

                            <select class="form-select rounded-pill" aria-label="Default select example"
                              [formControl]="dpt.type" [class.is-invalid]="dpt.invalidType ">
                              <option selected="" disabled>Select</option>
                              <option [value]="item.value" *ngFor="let item of calltype">
                                {{ item.value }}
                              </option>
                            </select>

                          </td>
                          <td>
                            <input type="text" class="form-control rounded-pill" placeholder="Access Code"
                              [formControl]="dpt.rate" [class.is-invalid]="dpt.invalidRate ">
                          </td>

                          <td>
                            <div class="mt-2 text-center">
                              <a href="javascript:void(0);" class="link-danger " (click)="onRemoveRate( dpt )">
                                <i class="ri-delete-bin-line align-bottom "></i>
                              </a>
                            </div>
                          </td>
                        </tr>

                      </tbody>
                    </table>

                  </div>
                </div>

              </div>

            </div>

            <div class="hstack gap-2 justify-content-center mt-4">

              <button class="btn btn-danger rounded-pill fw-medium px-5" [disabled]="invalid || invalidRate || saving"
                (click)="onSubmit()">
                Save
              </button>

              <button class="btn btn-light rounded-pill fw-medium px-5">
                Reset
              </button>

            </div>

          </div>

          <div class="tab-pane" id="profile-1" role="tabpanel">

            <app-interpreter-services [id]="id" [officeHours]="officeHours"></app-interpreter-services>

          </div>

          <div class="tab-pane" id="messages-1" role="tabpanel">

            <div class="row gy-4">
              <div class="col-md-4">
                <div>
                  <label for="formFile" class="form-label">File</label>
                  <!-- <input type="file" id="formFile" class="form-control rounded-pill"> -->

                  <ngx-dropzone class="dropzone_sec" (change)="onSelect($event)" accept="image/jpeg,image/jpg,application/pdf" >
                    <ngx-dropzone-label>Drop or selec files</ngx-dropzone-label>

                    <ngx-dropzone-preview class="c-dropzone-preview" *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                      <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                    </ngx-dropzone-preview>

                  </ngx-dropzone>

                </div>
              </div>
              <div class="col-md-8">
                <div>
                  <label for="firstname" class="form-label">Description</label>
                  <input type="text" id="firstname" placeholder="Enter description" class="form-control rounded-pill">
                </div>
              </div>
            </div>

            <div class="hstack gap-2 justify-content-center mt-4">
              <a href="javascript:void(0);" class="btn btn-danger rounded-pill fw-medium px-5">Upload document</a>
            </div>

            <div>
              <h5 class="fs-15 my-3 p-2 border-bottom border-bottom-dashed">Documents</h5>
              <!-- Hoverable Rows -->
              <table class="table table-hover table-nowrap table-striped mb-0">
                <thead>
                  <tr>
                    <th scope="col" style="width:25px">
                      <div class="form-check form-check-danger">
                        <input class="form-check-input" type="checkbox" id="checkAll" value="option1">
                      </div>
                    </th>
                    <th scope="col">Document</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      <div class="form-check form-check-danger">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option1">
                      </div>
                    </th>
                    <td>legal.pdf</td>
                    <td>
                      <a href="javascript:void(0);" class="link-danger fs-15">
                        <i class="ri-delete-bin-line"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <div class="form-check form-check-danger">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option1">
                      </div>
                    </th>
                    <td>legal.pdf</td>
                    <td>
                      <a href="javascript:void(0);" class="link-danger fs-15">
                        <i class="ri-delete-bin-line"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>

          <div class="tab-pane" id="resume-tap" role="tabpanel">
            <h1 class="headline-1">
              My resume
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
