<div class="row">
  <div class="col-12">
      <div class="page-title-box d-sm-flex align-items-center justify-content-between">
          <h4 class="mb-sm-0">Usuarios del sistema</h4>

          <div class="page-title-right">
              <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item"><a href="javascript: void(0);">Segurity</a></li>
                  <li class="breadcrumb-item active">Usuarios</li>
              </ol>
          </div>

      </div>
  </div>
</div>

<div class="row">
  <div class="col">

    <div class="card">
      <form [formGroup]="frmFilter" >

        <div class="card-body">

            <div class="row pb-4 ">
              <div class="col-6 ">

                <div class="d-flex justify-content-star align-items-center gap-2">
                  <div class="">
                    <input type="text" class="form-control" id="placeholderInput" placeholder="Buscar..." formControlName="filter">
                  </div>
                </div>

              </div>
              <div class="col-6 ">
                <div class="d-flex justify-content-end align-items-center gap-2">
                  <button type="button" class="btn btn-primary custom-toggle active" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >
                        <i class="ri-add-fill align-bottom me-1"></i> Nuevo usuario
                  </button>
                </div>
              </div>
            </div>

            <div class="table-responsive table-card">
              <table class="table table-nowrap table-hover mb-0">
                  <thead class="table-light">
                      <tr>
                          <th scope="col">Emil</th>
                          <th scope="col">Name</th>
                          <th scope="col">Date</th>
                          <th scope="col">Roles</th>
                          <th scope="col">Agency</th>
                          <th scope="col">Status</th>
                          <th scope="col">Action</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let user of users" >
                          <td>
                            <span class="fw-semibold">
                              #{{ user.email }}
                            </span>
                          </td>
                          <td>
                            {{ user.fullname }}
                          </td>
                          <td>
                            <!-- 07 Oct, 2021 -->
                            {{ user.createAt }}
                          </td>
                          <td class="text-center">
                            <span class="badge badge-soft-primary rounded-pill" *ngFor="let role of user.roles" >
                              {{ role.name }}
                            </span>
                          </td>

                          <td>
                            {{ user.agency?.bussinnesName }}
                          </td>

                          <td>
                            <span class="badge badge-soft-success rounded-pill" [class.badge-soft-success]="user.status"
                              [class.badge-soft-danger]="!user.status">
                              {{ user.status | status }}
                            </span>
                          </td>

                          <td>
                            <!-- <button type="button" class="btn btn-sm btn-success" *ngIf="user.status" data-bs-toggle="modal"
                            data-bs-target="#organizationModal" (click)="onLoadData( user )">
                              <i class="ri-pencil-fill align-bottom"></i>
                            </button> -->

                            <button type="button" class="btn btn-sm btn-danger ms-2" [class.btn-success]="!user.status"
                              [class.btn-danger]="user.status" (click)="onConfirm(user)">
                              <i class="ri-delete-bin-7-line align-bottom" *ngIf="user.status"></i>
                              <i class="ri-restart-line align-bottom" *ngIf="!user.status"></i>
                            </button>
                          </td>
                      </tr>

                      <tr *ngIf="!loading && total == 0 " >
                        <td colspan="6" class="text-center">
                          <strong>
                            Without Records
                          </strong>
                        </td>
                      </tr>

                  </tbody>
              </table>

          </div>

        </div>
        <div class="row mt-2">
          <div class="col-6">

            <div class="d-flex justify-content-start align-items-center gap-4 ms-3">
              <div class="d-flex justify-content-start align-items-center gap-2 ms-3">
                View
                <select class="form-select " style="width: 90px;" formControlName="limit" (change)="onGetUsers()" >
                  <option selected></option>
                  <option [value]="5">5</option>
                  <option [value]="10">10</option>
                  <option [value]="20">20</option>
                </select>
                records
              </div>
              |
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="chxActive" formControlName="active"
                  (change)="onGetUsers()">
                <label class="form-check-label" for="chxActive">view disabled</label>
              </div>

            </div>

          </div>
          <div class="col-6">
            <app-pagination [paginate]="paginate" [total]="total" (navigate)="onGetUsers($event)"></app-pagination>
          </div>
        </div>

      </form>
    </div>

  </div>
</div>



<!-- staticBackdrop Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalPopoversLabel">
                Create new User
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btnCloseModal" ></button>
          </div>

          <form [formGroup]="frmUser" (submit)="onSubmit()" >

            <div class="modal-body ">

              <div>
                <label for="placeholderInput" class="form-label">Nombres y apellidos</label>
                <div class="row">
                  <div class="col-6">

                    <input type="text"
                      class="form-control"
                      id="placeholderInput"
                      placeholder="Names"
                      formControlName="name"
                      [class.is-invalid]="controls['name'].errors  &&  touched('name')"
                    >

                    <div *ngIf="touched('name') && controls['name'].errors" class="invalid-feedback">
                      <div *ngIf="controls['name'].errors['required']">Name is required</div>
                      <div *ngIf="controls['name'].errors['pattern']">Name is invalid</div>
                    </div>

                  </div>
                  <div class="col-6">
                    <input type="text"
                      class="form-control"
                      placeholder="Surnames"
                      formControlName="surname"
                      [class.is-invalid]="controls['surname'].errors  &&  touched('surname')"
                    >

                    <div *ngIf="touched('surname') && controls['surname'].errors" class="invalid-feedback">
                      <div *ngIf="controls['surname'].errors['required']">Surname is required</div>
                      <div *ngIf="controls['surname'].errors['pattern']">Surname is invalid</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="pt-2">
                <label for="iconInput" class="form-label">Email</label>
                <div class="form-icon">
                    <input type="email"
                      class="form-control form-control-icon"
                      id="iconInput"
                      placeholder="example@gmail.com"
                      formControlName="email"
                      [class.is-invalid]="controls['email'].errors  &&  touched('email')"
                    >

                    <i class="ri-user-line"></i>
                  </div>
                  <div *ngIf="touched('email') && controls['email'].errors" class="invalid-feedback">
                    <div *ngIf="controls['email'].errors['required']">Email is required</div>
                    <div *ngIf="controls['email'].errors['pattern']">Email is invalid</div>
                  </div>
              </div>

              <!-- <div class="pt-2">
                <label for="txtphone" class="form-label">Phone</label>
                <div class="form-icon">
                    <input type="text"
                      class="form-control form-control-icon"
                      id="txtphone"
                      placeholder="+00 000 0000"
                      formControlName="phone"
                    >
                    <i class="ri-phone-fill"></i>
                </div>
              </div> -->

              <div class="pt-2">

                <div class="row">
                  <div class="col-5">

                    <label for="txtphone" class="form-label">Teléfono</label>
                    <input type="text"
                      class="form-control"
                      id="txtphone"
                      placeholder="xxx-xxx-xxx"
                      mask="000-000-000"
                      formControlName="phone"
                    >

                  </div>
                  <div class="col-7">
                    <label for="cleave-phone" class="form-label">Roles</label>
                    <ng-select
                        [items]="roles"
                        [multiple]="true"
                        [closeOnSelect]="false"
                        [searchable]="false"
                        bindLabel="name"
                        bindValue="id"
                        placeholder="Seleccione roles"
                        formControlName="roles"
                        [class.is-invalid]="controls['roles'].errors  &&  touched('roles')"
                      >
                    </ng-select>
                  </div>
                </div>

                <div class="pt-2">

                  <div class="col-12">

                    <label for="cleave-phone" class="form-label">Agency</label>
                    <ng-select
                        [items]="agencies"
                        bindLabel="bussinnesName"
                        bindValue="id"
                        placeholder="Select agency"
                        formControlName="agencyId"
                        [class.is-invalid]="controls['agencyId'].errors  &&  touched('agencyId')"
                      >
                    </ng-select>

                  </div>

                </div>


              </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" [disabled]="invalid || saving" >

                  <div class="spinner-border text-light" role="status" *ngIf="saving">
                    <span class="sr-only">Loading...</span>
                  </div>

                  <span *ngIf="!saving && !loadData"> Save </span>
                  <span *ngIf="!saving && loadData"> Save changes </span>
                  <span *ngIf="saving"> Saving... </span>

                </button>
            </div>

          </form>

      </div>
  </div>
</div>
