.box-icon{
  align-items: center;
  background-color: #9A9A9A;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  height: 80px;
  width: 80px;

  i{
    color: #fff;
    font-size: 40px;
  }
}

.card-calls{
  box-shadow: 0 0 4px 2px rgba(56, 65, 74, 0.15);
}