<div class="row">
  <div class="col-12">
      <div class="page-title-box d-sm-flex align-items-center justify-content-between">
          <h4 class="mb-sm-0">Agency</h4>

          <div class="page-title-right">
              <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                  <li class="breadcrumb-item active">Agencies</li>
              </ol>
          </div>

      </div>
  </div>
</div>

<div class="row">
  <div class="col">

    <div class="card">
        <form [formGroup]="frmFilter" >

          <div class="card-body">

              <div class="row pb-4 ">
                <div class="col-6 ">

                  <div class="d-flex justify-content-star align-items-center gap-2">
                    <div class="">
                      <input type="text" class="form-control" id="placeholderInput" placeholder="Search..." formControlName="filter" >
                    </div>
                  </div>

                </div>
                <div class="col-6 ">
                  <div class="d-flex justify-content-end align-items-center gap-2">
                    <button type="button" class="btn btn-primary custom-toggle active" data-bs-toggle="modal" data-bs-target="#organizationModal" >
                      <i class="ri-add-fill align-bottom me-1"></i> New agencie
                    </button>
                  </div>
                </div>
              </div>

              <div class="table-responsive table-card">
                <table class="table table-nowrap table-hover mb-0">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">Bussiness name</th>
                            <th scope="col">Document</th>
                            <th scope="col">Date</th>
                            <th scope="col">Cost per minute</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of organizations" >
                            <td>
                              <a href="#" class="fw-semibold">
                                {{ item.bussinnesName }}
                              </a>
                            </td>
                            <td>
                              {{ item.document }}
                            </td>
                            <td>
                              {{ item.createAt }}
                            </td>
                            <td>
                              <!-- {{ item.country.moneySymbol }}
                              {{ item.costPerMinute }} -->
                            </td>
                            <td>
                              <span class="badge bg-success"
                              [class.bg-success]="item.status"
                              [class.bg-danger]="!item.status"
                              >
                                {{ item.status | status }}
                              </span>
                            </td>
                            <td>

                              <button
                                type="button"
                                class="btn btn-sm btn-primary"
                                *ngIf="item.status"
                                data-bs-toggle="modal"
                                data-bs-target="#organizationModal"
                                (click)="onLoadData( item )"
                              >
                                <i class="ri-edit-box-line align-bottom" ></i>
                              </button>

                              <button type="button" class="btn btn-sm btn-danger ms-2"
                                [class.btn-success]="!item.status"
                                [class.btn-danger]="item.status"
                                (click)="onConfirm(item)"
                              >
                                <i class="ri-delete-bin-7-line align-bottom" *ngIf="item.status" ></i>
                                <i class="ri-restart-line align-bottom" *ngIf="!item.status"></i>
                              </button>

                            </td>
                        </tr>

                        <tr *ngIf="counter == 0 && !loading" >
                          <td colspan="6" class="text-center">
                            Without Records
                          </td>
                        </tr>
                    </tbody>
                </table>

            </div>

          </div>
          <div class="row mt-2">
            <div class="col-6">

              <div class="d-flex justify-content-start align-items-center gap-4 ms-3">

                <div class="d-flex justify-content-start align-items-center gap-2 ms-3">
                  View
                  <select class="form-select " style="width: 70px;" formControlName="limit" >
                    <option selected></option>
                    <option [value]="5">5</option>
                    <option [value]="10">10</option>
                    <option [value]="20">20</option>
                  </select>
                  records
                </div>
                |
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="chxActive" formControlName="active" (change)="onGetOrganizations()" >
                  <label class="form-check-label" for="chxActive">view disabled</label>
                </div>

              </div>

            </div>
            <div class="col-6">
              <app-pagination [paginate]="paginate" [total]="total" (navigate)="onGetOrganizations($event)" ></app-pagination>
            </div>
          </div>

        </form>

      </div>

  </div>
</div>



<!-- organizationModal Modal -->
<div class="modal fade" id="organizationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="organizationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalPopoversLabel">
                <span *ngIf="!loadData" >
                  Add Agency
                </span>

                <span *ngIf="loadData" >
                  Update Agency
                </span>
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>


          <div class="modal-body ">

            <form [formGroup]="frmOrganization">
              <div class="row">
                <div class=" col-12 pt-2">
                  <label for="txtbusssinessname" class="form-label">Bussines Name</label>
                  <input type="text"
                    class="form-control "
                    id="txtbusssinessname"
                    placeholder="Organization name"
                    formControlName="bussinnesName"
                    [class.is-invalid]="controls['bussinnesName'].errors && touched('bussinnesName')"
                  >
                </div>

                <!-- <div class=" col-lg-6 col-md-12 col-sm-12 pt-2">
                  <label for="txtdocument" class="form-label">Document</label>
                  <input type="text"
                    class="form-control "
                    id="txtdocument"
                    placeholder="00000000000"
                    formControlName="document"
                    [class.is-invalid]="controls['document'].errors && touched('document')"
                  >
                </div> -->
              </div>

              <div class="row">
                <div class="col-12 pt-2">
                  <label for="txtaddress" class="form-label">Address</label>
                  <input type="text"
                    class="form-control "
                    id="txtaddress"
                    placeholder="Street #000 "
                    formControlName="address"
                    [class.is-invalid]="controls['address'].errors && touched('address')"
                  >
                </div>
              </div>

              <div class="row">

                <div class="col-lg-7 col-md-12 col-sm-12 pt-2">
                  <label for="txtemail" class="form-label">Email</label>
                <input type="text"
                    class="form-control "
                    id="txtemail"
                    placeholder="example@domain.com"
                    formControlName="email"
                    [class.is-invalid]="controls['email'].errors && touched('email')"
                  >
                </div>

                <div class="col-lg-5 col-md-12 col-sm-12 pt-2">

                  <label for="txtphone" class="form-label">Phone</label>
                  <input type="text"
                    class="form-control "
                    id="txtphone"
                    placeholder="000 000 000"
                    formControlName="phone"
                    [class.is-invalid]="controls['phone'].errors && touched('phone')"
                  >

                </div>

              </div>

              <!-- <div class="pt-2">
                <div class="row">

                  <div class="col-lg-3 col-sm-12">
                    <label for="iconInput" class="form-label">Cost per minute</label>
                    <input type="number"
                      class="form-control "
                      id="iconInput"
                      placeholder="0.00"
                      formControlName="costPerMinute"
                      [class.is-invalid]="controls['costPerMinute'].errors && touched('costPerMinute')"
                    >
                  </div>

                </div>
              </div> -->
            </form>

            <div class="pt-2">

              <div class="row pb-2 pt-2">
                <div class="col-6">
                  <h4>
                    Rate
                  </h4>
                </div>
                <div class="col-6 d-flex justify-content-end">
                  <button type="button" class="btn btn-sm btn-dark " (click)="onAddrate()">
                    <i class="ri-add-line align-bottom me-1"></i>
                    Add
                  </button>
                </div>
              </div>

              <div class="row pb-2 pt-2">
                <div class="col-12">

                  <table class="table table-responsive  table-nowrap mb-0">
                    <thead class="table-light">
                      <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Rate</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>

                      <tr *ngFor="let dpt of rates">
                        <td>

                          <select class="form-select " aria-label="Default select example"
                            [formControl]="dpt.type" [class.is-invalid]="dpt.invalidType ">
                            <option selected="" disabled>Select</option>
                            <option [value]="item.value" *ngFor="let item of calltype">
                              {{ item.value }}
                            </option>
                          </select>

                        </td>
                        <td>
                          <input type="text" class="form-control " placeholder="Access Code"
                            [formControl]="dpt.rate" [class.is-invalid]="dpt.invalidRate ">
                        </td>

                        <td>
                          <div class="mt-2 text-center">
                            <a href="javascript:void(0);" class="link-danger " (click)="onRemoveRate( dpt )">
                              <i class="ri-delete-bin-line align-bottom "></i>
                            </a>
                          </div>
                        </td>
                      </tr>

                      <tr *ngIf="counterRates == 0">
                        <td colspan="3" class="text-center">
                          Add Rates
                        </td>
                      </tr>

                    </tbody>
                  </table>

                </div>
              </div>


            </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="onReset()" id="btnCloseModal" >
                Close
              </button>
              <button type="button" class="btn btn-primary" [disabled]="saving || invalid || invalidRates " (click)="onSubmit()" >

                <span *ngIf="!loadData" >
                  Save
                </span>

                <span *ngIf="loadData" >
                  Save changes
                </span>
              </button>
            </div>

      </div>
  </div>
</div>
