
<!-- changePassword Modal -->
<div class="modal fade" id="changePassword" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalPopoversLabel">
                  Assign Password
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btnCloseModal" ></button>
            </div>
  
            <div class="m-3 mb-0 alert alert-warning alert-border-left alert-dismissible fade show" role="alert">
              <b>*</b> Use a mix of upper and lower case letters <br />
              <b>*</b> Include numbers and special characters <br />
              <b>*</b> Make it at least 8 characters long <br />
            </div>
  
            <form [formGroup]="frmPassword" (submit)="changePassword()" >
  
              <div class="modal-body ">
  
                <div>
                  <label for="placeholderInput" class="form-label">New Password <span class="required">*</span></label>
                      <input type="password"
                        class="form-control"
                        id="placeholderInput"
                        placeholder="Enter New Password"
                        formControlName="password"
                        [class.is-invalid]="controls['password'].errors  &&  touched('password')"
                      >
  
                      <div *ngIf="touched('password') && controls['password'].errors" class="invalid-feedback">
                        <div *ngIf="controls['password'].errors['required']">New password is required</div>
                        <div *ngIf="controls['password'].errors['pattern']">New password is invalid</div>
                      </div>
                </div>
  
                <div class="pt-2">
                  <label for="iconInput" class="form-label">Confirm Password <span class="required">*</span></label>
                    <input type="password"
                    class="form-control"
                    id="placeholderInput"
                    placeholder="Confirm Password"
                    formControlName="confirmPassword"
                    [class.is-invalid]="(controls['confirmPassword'].errors  &&  touched('confirmPassword')) || (touched('confirmPassword') && passwordMatchError)"
                    >
  
                    <div *ngIf="touched('confirmPassword') && controls['confirmPassword'].errors" class="invalid-feedback">
                      <div *ngIf="controls['confirmPassword'].errors['required']">Confirm password is required</div>
                      <div *ngIf="controls['confirmPassword'].errors['pattern']">Confirm password is invalid</div>
                    </div>

                    <div *ngIf="touched('confirmPassword') && !controls['confirmPassword'].errors" class="invalid-feedback">
                        <div *ngIf="passwordMatchError">The passwords provided don't match</div>
                    </div>

                </div>
  
              </div>
  
              <div class="modal-footer">
                  <button type="button" (click)="reset()" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary" [disabled]="invalid || saving" >
  
                    <div class="spinner-border text-light" role="status" *ngIf="saving">
                      <span class="sr-only">Loading...</span>
                    </div>
  
                    <span *ngIf="!saving && !loadData"> Save </span>
                    <span *ngIf="!saving && loadData"> Save changes </span>
                    <span *ngIf="saving"> Saving... </span>
  
                  </button>
              </div>
  
            </form>
  
        </div>
    </div>
</div>