
<!-- changePassword Modal -->
<div class="modal fade" id="changePassword" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalPopoversLabel">
                  {{'GLOSSARY.ASSIGN_PASSWORD' | translate}}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btnCloseModal" ></button>
            </div>
  
            <div class="m-3 mb-0 alert alert-warning alert-border-left alert-dismissible fade show" role="alert">
              <b>*</b> {{'GLOSSARY.PASSWORD_INSTRUCTION_1' | translate}} <br />
              <b>*</b> {{'GLOSSARY.PASSWORD_INSTRUCTION_2' | translate}} <br />
              <b>*</b> {{'GLOSSARY.PASSWORD_INSTRUCTION_3' | translate}} <br />
            </div>
  
            <form [formGroup]="frmPassword" (submit)="changePassword()" >
  
              <div class="modal-body ">
  
                <div>
                  <label for="placeholderInput" class="form-label">{{'GLOSSARY.NEW_PASSWORD' | translate}} <span class="required">*</span></label>
                  <input type="password"
                      class="form-control"
                      id="placeholderInput"
                      [placeholder]="'GLOSSARY.NEW_PASSWORD_PLACEHOLDER' | translate"
                      formControlName="password"
                      [class.is-invalid]="controls['password'].errors  &&  touched('password')"
                  >

                  <div *ngIf="touched('password') && controls['password'].errors" class="invalid-feedback">
                      <div *ngIf="controls['password'].errors['required']">{{'GLOSSARY.NEW_PASSWORD_REQUIRED' | translate}}</div>
                      <div *ngIf="controls['password'].errors['pattern']">{{'GLOSSARY.NEW_PASSWORD_INVALID' | translate}}</div>
                  </div>
                </div>
  
                <div class="pt-2">
                  <label for="iconInput" class="form-label">{{'GLOSSARY.CONFIRM_PASSWORD' | translate}} <span class="required">*</span></label>
                  <input type="password"
                  class="form-control"
                  id="placeholderInput"
                  [placeholder]="'GLOSSARY.CONFIRM_PASSWORD_PLACEHOLDER' | translate"
                  formControlName="confirmPassword"
                  [class.is-invalid]="(controls['confirmPassword'].errors  &&  touched('confirmPassword')) || (touched('confirmPassword') && passwordMatchError)"
                  >

                  <div *ngIf="touched('confirmPassword') && controls['confirmPassword'].errors" class="invalid-feedback">
                  <div *ngIf="controls['confirmPassword'].errors['required']">{{'GLOSSARY.CONFIRM_PASSWORD_REQUIRED' | translate}}</div>
                  <div *ngIf="controls['confirmPassword'].errors['pattern']">{{'GLOSSARY.CONFIRM_PASSWORD_INVALID' | translate}}</div>
                  </div>

                  <div *ngIf="touched('confirmPassword') && !controls['confirmPassword'].errors" class="invalid-feedback">
                      <div *ngIf="passwordMatchError">{{'GLOSSARY.PASWORD_NOT_MATCH' | translate}}</div>
                  </div>

                </div>
  
              </div>
  
              <div class="modal-footer">
                  <button type="button" id="btnCloseModalChangePassword" (click)="reset()" class="btn btn-light" data-bs-dismiss="modal">{{'GLOSSARY.CLOSE' | translate}}</button>
                  <button type="submit" class="btn btn-primary" [disabled]="invalid || saving" >
  
                    <div class="spinner-border text-light" role="status" *ngIf="saving">
                      <span class="sr-only">{{'GLOSSARY.LOADING' | translate}}...</span>
                    </div>
  
                    <span *ngIf="!saving && !loadData"> {{'GLOSSARY.SAVE' | translate}} </span>
                    <span *ngIf="!saving && loadData"> {{'GLOSSARY.SAVE_CHANGES' | translate}} </span>
                    <span *ngIf="saving"> {{'GLOSSARY.SAVING' | translate}}... </span>
  
                  </button>
              </div>
  
            </form>
  
        </div>
    </div>
</div>