<div class="m-3 mb-0 alert alert-warning alert-border-left alert-dismissible fade show" role="alert">
    <div class="row">
        <div class="col-md-4">
            <b>*</b> Use a mix of upper and lower case letters
    
        </div>
        <div class="col-md-4">
            <b>*</b> Include numbers and special characters
    
        </div>
        <div class="col-md-4">
            <b>*</b> Make it at least 8 characters long
        </div>
    </div>
</div>

<form [formGroup]="frmPassword" (submit)="changePassword()" class="mx-3" >

    <div class="row mt-4">
        <div class="col-md-4">
            <label for="placeholderInput" class="form-label">Current Password <span class="required">*</span></label>
            <input type="password"
                class="form-control"
                id="placeholderInput"
                placeholder="Enter current Password"
                formControlName="currentPassword"
                [class.is-invalid]="controls['currentPassword'].errors  &&  touched('currentPassword')"
            >

            <div *ngIf="touched('currentPassword') && controls['currentPassword'].errors" class="invalid-feedback">
                <div *ngIf="controls['currentPassword'].errors['required']">Current Password is required</div>
                <div *ngIf="controls['currentPassword'].errors['pattern']">Current Password is invalid</div>
            </div>
        </div>
        <div class="col-md-4">
            <label for="placeholderInput" class="form-label">New Password <span class="required">*</span></label>
            <input type="password"
                class="form-control"
                id="placeholderInput"
                placeholder="Enter New Password"
                formControlName="password"
                [class.is-invalid]="controls['password'].errors  &&  touched('password')"
            >

            <div *ngIf="touched('password') && controls['password'].errors" class="invalid-feedback">
                <div *ngIf="controls['password'].errors['required']">New password is required</div>
                <div *ngIf="controls['password'].errors['pattern']">New password is invalid</div>
            </div>
        </div>
        <div class="col-md-4">
            <label for="iconInput" class="form-label">Confirm Password <span class="required">*</span></label>
            <input type="password"
            class="form-control"
            id="placeholderInput"
            placeholder="Confirm Password"
            formControlName="confirmPassword"
            [class.is-invalid]="(controls['confirmPassword'].errors  &&  touched('confirmPassword')) || (touched('confirmPassword') && passwordMatchError)"
            >

            <div *ngIf="touched('confirmPassword') && controls['confirmPassword'].errors" class="invalid-feedback">
            <div *ngIf="controls['confirmPassword'].errors['required']">Confirm password is required</div>
            <div *ngIf="controls['confirmPassword'].errors['pattern']">Confirm password is invalid</div>
            </div>

            <div *ngIf="touched('confirmPassword') && !controls['confirmPassword'].errors" class="invalid-feedback">
                <div *ngIf="passwordMatchError">The passwords provided don't match</div>
            </div>
        </div>
    </div>

    <div class="my-3">
        <a class="link-secondary link-offset-2 text-decoration-underline link-underline-opacity-25 link-underline-opacity-100-hover" href="/auth/forgot-password" target="_blank">Forgot Password ?</a>
    </div>

    <div class="d-flex justify-content-center">

        <button type="submit" class="btn btn-success" [disabled]="invalid || saving" >

            <div class="spinner-border text-light" role="status" *ngIf="saving">
            <span class="sr-only">Loading...</span>
            </div>

            <span *ngIf="!saving"> Change Password </span>
            <span *ngIf="saving"> Saving... </span>

        </button>

    </div>

</form>