<div class="m-3 mb-0 alert alert-warning alert-border-left alert-dismissible fade show" role="alert">
    <div class="row">
        <div class="col-md-4">
            <b>*</b> {{'GLOSSARY.PASSWORD_INSTRUCTION_1' | translate}}
    
        </div>
        <div class="col-md-4">
            <b>*</b> {{'GLOSSARY.PASSWORD_INSTRUCTION_2' | translate}}
    
        </div>
        <div class="col-md-4">
            <b>*</b> {{'GLOSSARY.PASSWORD_INSTRUCTION_3' | translate}}
        </div>
    </div>
</div>

<form [formGroup]="frmPassword" (submit)="changePassword()" class="mx-3" >

    <div class="row mt-4">
        <div class="col-md-4">
            <label for="placeholderInput" class="form-label">{{'GLOSSARY.CURRENT_PASSWORD' | translate}} <span class="required">*</span></label>
            <input type="password"
                class="form-control"
                id="placeholderInput"
                [placeholder]="'GLOSSARY.CURRENT_PASSWORD_PLACEHOLDER' | translate"
                formControlName="currentPassword"
                [class.is-invalid]="controls['currentPassword'].errors  &&  touched('currentPassword')"
            >

            <div *ngIf="touched('currentPassword') && controls['currentPassword'].errors" class="invalid-feedback">
                <div *ngIf="controls['currentPassword'].errors['required']">{{'GLOSSARY.CURRENT_PASSWORD_REQUIRED' | translate}}</div>
                <div *ngIf="controls['currentPassword'].errors['pattern']">{{'GLOSSARY.CURRENT_PASSWORD_INVALID' | translate}}</div>
            </div>
        </div>
        <div class="col-md-4">
            <label for="placeholderInput" class="form-label">{{'GLOSSARY.NEW_PASSWORD' | translate}} <span class="required">*</span></label>
            <input type="password"
                class="form-control"
                id="placeholderInput"
                [placeholder]="'GLOSSARY.NEW_PASSWORD_PLACEHOLDER' | translate"
                formControlName="password"
                [class.is-invalid]="controls['password'].errors  &&  touched('password')"
            >

            <div *ngIf="touched('password') && controls['password'].errors" class="invalid-feedback">
                <div *ngIf="controls['password'].errors['required']">{{'GLOSSARY.NEW_PASSWORD_REQUIRED' | translate}}</div>
                <div *ngIf="controls['password'].errors['pattern']">{{'GLOSSARY.NEW_PASSWORD_INVALID' | translate}}</div>
            </div>
        </div>
        <div class="col-md-4">
            <label for="iconInput" class="form-label">{{'GLOSSARY.CONFIRM_PASSWORD' | translate}} <span class="required">*</span></label>
            <input type="password"
            class="form-control"
            id="placeholderInput"
            [placeholder]="'GLOSSARY.CONFIRM_PASSWORD_PLACEHOLDER' | translate"
            formControlName="confirmPassword"
            [class.is-invalid]="(controls['confirmPassword'].errors  &&  touched('confirmPassword')) || (touched('confirmPassword') && passwordMatchError)"
            >

            <div *ngIf="touched('confirmPassword') && controls['confirmPassword'].errors" class="invalid-feedback">
            <div *ngIf="controls['confirmPassword'].errors['required']">{{'GLOSSARY.CONFIRM_PASSWORD_REQUIRED' | translate}}</div>
            <div *ngIf="controls['confirmPassword'].errors['pattern']">{{'GLOSSARY.CONFIRM_PASSWORD_INVALID' | translate}}</div>
            </div>

            <div *ngIf="touched('confirmPassword') && !controls['confirmPassword'].errors" class="invalid-feedback">
                <div *ngIf="passwordMatchError">{{'GLOSSARY.PASWORD_NOT_MATCH' | translate}}</div>
            </div>
        </div>
    </div>

    <div class="my-3">
        <a class="link-secondary link-offset-2 text-decoration-underline link-underline-opacity-25 link-underline-opacity-100-hover" href="/auth/forgot-password" target="_blank">{{'GLOSSARY.FORGOT_PASSWORD' | translate}} ?</a>
    </div>

    <div class="d-flex justify-content-center">

        <button type="submit" class="btn btn-success" [disabled]="invalid || saving" >

            <div class="spinner-border text-light" role="status" *ngIf="saving">
            <span class="sr-only">{{'GLOSSARY.LOADING' | translate}}...</span>
            </div>

            <span *ngIf="!saving"> {{'GLOSSARY.CHANGE_PASSWORD' | translate}} </span>
            <span *ngIf="saving"> {{'GLOSSARY.SAVING' | translate}}... </span>

        </button>

    </div>

</form>