<div class="row">
  <div class="col-12">
    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
      <h4 class="mb-sm-0">Quickbooks</h4>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xxl-12">
    <div class="card">
      <div class="card-body">
        <div class="mb-4">
          <h5 class="fs-15 mb-3 p-2 border-bottom border-bottom-dashed">Company</h5>
          <div class="row">
            <div class="col-md-6 mb-3 mb-md-0">
              <div>
                <label for="customer" class="form-label">Customer ID</label>
                <input type="text" id="customer" class="form-control rounded-pill">
              </div>
            </div>
            <div class="col-md-6">
              <div>
                <label for="customer" class="form-label">Customer Secret</label>
                <input type="text" id="customer" class="form-control rounded-pill">
              </div>
            </div>
          </div>
        </div>
        <div>
          <h5 class="fs-15 mb-3 p-2 border-bottom border-bottom-dashed">Web Book</h5>
          <div class="row">
            <div class="col-md-6">
              <div>
                <label for="customer" class="form-label">Endpoint URL</label>
                <input type="text" id="customer" class="form-control rounded-pill">
              </div>
            </div>
          </div>
        </div>
        <div class="text-end mt-3">
          <button type="button"
            class="btn rounded-pill btn-danger px-5 fw-medium waves-effect waves-light">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
