
<!-- animate__infinite headShake -->
<div id="sofphone" #sofphone class="box-softphone mb-3 animate ">

  <div >

    <div class="grid-softphone">

      <div class="softphone-item">
        <div class="softphone-icon">
          <i class="mdi mdi-volume-high"></i>
        </div>
        <small>Audio Call</small>
      </div>

      <div class="softphone-item">
        <div class="softphone-icon">
          <i class="mdi mdi-video"></i>
        </div>
        <small>Video Call</small>
      </div>

    </div>

    <form [formGroup]="frmPhone" >

      <div class="mt-4">
        <select class="form-select rounded-pill mb-3" formControlName="ringtone" (change)="onSetDevice($event)" >
          <option selected="">Selection Ringtone</option>
          <option [value]="item.id" *ngFor="let item of ringtoneDevices" >
            {{ item.label }}
          </option>
        </select>
      </div>

      <div class="mt-4">
        <select class="form-select rounded-pill mb-3" formControlName="speaker" (change)="onSetDevice($event, true)" >
          <option selected="">Selection Speaker</option>
          <option [value]="item.id" *ngFor="let item of speakerDevices" >
            {{ item.label }}
          </option>
        </select>
      </div>

    </form>

  </div>

  <div class="container-softphone">
    <div class="grid-softphone">
      <div class="softphone-item">
        <div class="softphone-icon">
          <i class="ri-mic-off-line"></i>
        </div>
        <small>Mute</small>
      </div>
      <div class="softphone-item">
        <div class="softphone-icon">
          <i class="ri-grid-fill"></i>
        </div>
        <small>Keypad</small>
      </div>
      <div class="softphone-item">
        <div class="softphone-icon">
          <i class="ri-volume-up-line"></i>
        </div>
        <small>Speaker</small>
      </div>
      <div class="softphone-item">
        <div class="softphone-icon">
          <i class="ri-add-line"></i>
        </div>
        <small>Add call</small>
      </div>
    </div>

    <div class="mt-3">
      <div class="softphone-item_alt ">
        <div class="softphone-icon softphone-icon_alt">
          <i class="mdi mdi-phone-hangup"></i>
        </div>
        <small>End Call</small>
      </div>
    </div>
  </div>

</div>


<!-- ri-grid-fill
ri-add-line -->
