<div id="layout-wrapper">
    <!-- Top Bar -->
    <app-topbar></app-topbar>

    <!-- Side Bar -->
    <app-sidebar></app-sidebar>
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- Main Content -->
                <router-outlet></router-outlet>
                <app-softphone></app-softphone>
            </div>
        </div>
        <!-- Footer -->
        <app-footer></app-footer>

        <button class="btn btn-success btn-softphone">
            <i class="mdi mdi-phone fs-22"></i>
        </button>

    </div>


</div>