<div class="profile-foreground position-relative mx-n4 mt-n4">
    <div class="profile-wid-bg">
        <img src="assets/images/profile-bg.jpg" alt="" class="profile-wid-img" />
    </div>
</div>
<div class="pt-4 mb-4 mb-lg-3 pb-lg-4">
    <div class="row g-4 justify-content-center">
        <div class="col-auto">
            <div class="avatar-lg">
                <img src="assets/images/users/avatar-1.jpg" alt="user-img" class="img-thumbnail rounded-circle" />
            </div>
        </div>

        <div class="text-center m-2">
            <strong class="text-white">{{fullname}}</strong>
            <br />
            <span class="text-white opacity-75">{{userRoles}}</span>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div>
            <div class="d-flex">
                <!-- Nav tabs -->
                <ul ngbNav #customNav="ngbNav" [activeId]="1" class="nav nav-pills animation-nav profile-nav gap-2 gap-lg-3 flex-grow-1" role="tablist">
                    <li [ngbNavItem]="1" class="nav-item">
                        <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                            <i class="ri-account-circle-line d-inline-block d-md-none"></i> <span class="d-none d-md-inline-block">{{ 'GLOSSARY.PERSONAL_DETAILS' | translate }}</span>
                        </a>
                        <ng-template ngbNavContent>
                            <div class="card">
                                <div class="card-body">
                                    <app-edit-personal-details [user]="user"></app-edit-personal-details>
                                </div>
                            </div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2" class="nav-item">
                        <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                            <i class=" ri-lock-line d-inline-block d-md-none"></i> <span class="d-none d-md-inline-block">{{ 'GLOSSARY.CHANGE_PASSWORD' | translate }}</span>
                        </a>
                        <ng-template ngbNavContent>
                            <div class="card">
                                <div class="card-body">
                                    <app-edit-password [user]="user"></app-edit-password>
                                </div>
                            </div>
                        </ng-template>
                    </li>
                </ul>
                <!--<div class="flex-shrink-0">
                    <a routerLink="/pages/profile-setting" class="btn btn-success"><i class="ri-edit-box-line align-bottom"></i> Edit Profile</a>
                </div>-->
            </div>
            <!-- Tab panes -->
            <div class="tab-content pt-4 text-muted">
                <div [ngbNavOutlet]="customNav"></div>
            </div>
            <!--end tab-content-->
        </div>
    </div>
    <!--end col-->
</div>
<!--end row-->