<form *ngIf="frmDateFilter" [formGroup]="frmDateFilter" (submit)="onSubmit()">
<div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header align-items-center d-flex d-md-none">
          <h4 class="card-title mb-0 flex-grow-1">Filter by</h4>
        </div>
  
        <div class="card-body">
          <div class="row">

            <div class="col-md-2 mb-3 mb-md-0 mr-5 d-md-flex align-items-center d-none">
                <h4 class="card-title mb-0 flex-grow-1">Filter by</h4>
            </div>

            <div class="col-md-4 mb-3 mb-md-0">
              <div class="d-flex align-items-center">
                <label for="exampleInputdate" class="form-label m-0">From</label>
                <input type="date" formControlName="from" class="form-control rounded-pill ms-3" id="exampleInputdate">
              </div>
            </div>
            <div class="col-md-4">
              <div class="d-flex align-items-center">
                <label for="exampleInputdateEnd" class="form-label m-0">To</label>
                <input type="date" formControlName="to" class="form-control rounded-pill ms-3" id="exampleInputdateEnd">
              </div>
            </div>
            <div class="col-md-2 mt-3 mt-md-0">
                <button type="submit"
                class="btn rounded-pill btn-danger px-4 fw-medium waves-effect waves-light">
                Search</button>
            </div>
          </div>
          <!--<div class="text-end mt-3">
            <button type="button"
              class="btn rounded-pill btn-danger px-4 fw-medium waves-effect waves-light">Search</button>
          </div>-->
        </div>
      </div>
    </div>
  </div>
</form>