<table class="table table-nowrap">
    <thead>
      <tr class="table-dark">
        <th colspan="2">
          <h5 class="text-center mb-0 text-white">On-Demand Services</h5>
        </th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td rowspan="4" class="border">
          <div class="d-flex flex-column">
            <div class="box-icon mx-auto mb-2">
              <i class="mdi mdi-phone"></i>
            </div>
            <span class="text-center">Phone Calls</span>
          </div>
        </td>
      </tr>

      <tr>
        <td class="text-end">{{data.phone.calls}} Calls</td>
      </tr>
      <tr>
        <td class="text-end">{{data.phone.minutes}} Total Minutes</td>
      </tr>
      <tr>
        <td class="text-end">{{data.phone.duration}} min Avg. Duration</td>
      </tr>
      <tr>
        <td rowspan="4" class="border">
          <div class="d-flex flex-column">
            <div class="box-icon mx-auto mb-2">
              <i class="mdi mdi-video"></i>
            </div>
            <span class="text-center">Video Calls</span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-end">{{data.video.calls}} Calls</td>
      </tr>
      <tr>
        <td class="text-end">{{data.video.minutes}} Total Minutes</td>
      </tr>
      <tr>
        <td class="text-end">{{data.video.duration}} min Avg. Duration</td>
      </tr>
    </tbody>
</table>