<router-outlet></router-outlet>

<button class="button-config" data-bs-toggle="modal" data-bs-target="#bottom-rightModal">
  <i class="mdi mdi-cog-outline fs-22"></i>
</button>

<div id="bottom-rightModal" class="modal fade" tabindex="-1" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-sm modal-dialog-bottom-right">
    <div class="modal-content">
      <div class="modal-header bg-dark p-3">
        <h5 class="modal-title text-white">Theme Customer</h5>
        <button type="button" data-bs-dismiss="modal" aria-label="Close" id="btnCloseModal" class="btn-close"></button>
      </div>
      <div class="modal-body">
        <div>
          <P class="mb-0">TOP SIDEBAR COLOR</P>
          <p class="text-muted mb-3">Choose a color of Top Sidebar.</p>
          <div class="mb-4">
            <label for="colorPicker" class="form-label">Color Picker</label>
            <input type="color" class="form-control form-control-color w-100" id="colorPicker" value="#364574">
          </div>
          <div class="hstack justify-content-end">
            <a href="javascript:void(0);" class="btn btn-success">Save</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>