.button-config{
  background-color: var(--clr-primary);
  top: calc(100vh - 60px);
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  position: fixed;
  right: 20px;
  width: 40px;

  i{
    color: #fff;
  }
}