<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                {{year}} © Corp
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    <!-- Design & Develop by Themesbrand -->
                </div>
            </div>
        </div>
    </div>
</footer>


<button class="button-config" data-bs-toggle="modal" data-bs-target="#bottom-rightModal" *ngIf="showConf" >
  <i class="mdi mdi-cog-outline fs-22"></i>
</button>

<div id="bottom-rightModal" class="modal fade" tabindex="-1" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-sm modal-dialog-bottom-right">

    <div class="modal-content">
      <div class="modal-header bg-dark p-3">
        <h5 class="modal-title text-white">Theme Customer</h5>
        <button type="button" data-bs-dismiss="modal" aria-label="Close" id="btnCloseModal" class="btn-close"></button>
      </div>
      <div class="modal-body">
        <div>
          <P class="mb-0">TOP SIDEBAR COLOR</P>
          <p class="text-muted mb-3">Choose a color of Top Sidebar.</p>

          <form [formGroup]="frmColor" >

            <div class="mb-4">
              <label for="colorPicker" class="form-label">Color Picker</label>
              <input type="color" formControlName="htmlColor" (change)="onChangeColor()" class="form-control form-control-color w-100" id="colorPicker" >
            </div>
            <div class="hstack justify-content-end">
              <button  class="btn btn-success" [disabled]="invalid || saving" (click)="onSubmit()" >

                <div class="spinner-border text-light" role="status" *ngIf="saving">
                  <span class="sr-only">Loading...</span>
                </div>
                <span *ngIf="!saving"> Save </span>
                <span *ngIf="saving"> Saving... </span>

              </button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
