<div class="row">
  <div class="col-12">
    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
      <h4 class="mb-sm-0">Interpreter Portal</h4>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">Additional Session Information</h4>
      </div>
      <div class="card-body">
        <div class="row pt-3">
          <div class="col-12 mb-4">
            <div class="d-flex align-items-center">
              <div class="avatar-xs flex-shrink-0">
                <span class="avatar-title bg-light text-primary rounded-circle fs-3">
                  <i class="ri-map-pin-line"></i>
                </span>
              </div>
              <div class="flex-grow-1 ms-3">
                <p class="fw-medium fs-12 text-muted mb-1">Location:</p>
                <h5 class="mb-0 fs-14 text-primary">Av. Velzon 1245</h5>
              </div>
            </div>
          </div>
          <div class="col-12 mb-4">
            <div class="d-flex align-items-center">
              <div class="avatar-xs flex-shrink-0">
                <span class="avatar-title bg-light text-primary rounded-circle fs-3">
                  <i class="ri-qr-code-fill"></i>
                </span>
              </div>
              <div class="flex-grow-1 ms-3">
                <p class="fw-medium fs-12 text-muted mb-1">MRN</p>
                <h5 class="mb-0 fs-14 text-primary">200025487</h5>
              </div>
            </div>
          </div>
          <div class="col-12 mb-4">
            <div class="d-flex align-items-center">
              <div class="avatar-xs flex-shrink-0">
                <span class="avatar-title bg-light text-primary rounded-circle fs-3">
                  <i class="ri-contacts-line"></i>
                </span>
              </div>
              <div class="flex-grow-1 ms-3">
                <p class="fw-medium fs-12 text-muted mb-1">Patient Name / Client</p>
                <h5 class="mb-0 fs-14 text-primary">Arenas</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-header align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">Data</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div class="box-flex mb-5">
              <h5 class="mb-1">Today’s Total Earnings</h5>
              <div class="box-mount">$334.00</div>
            </div>
          </div>
          <div class="col-12">
            <div class="box-flex">
              <h5 class="mb-1">My Rating</h5>

              <ngb-rating
                  [(rate)]="profileRating"
                  [readonly]="true"
                  [max]="5"
                >

                <ng-template let-fill="fill" let-index="index">
                  <i class="ri-star{{fill === 5 ? '-fill' : '-line'}}"
                    [class.filled]="fill === 100"
                    >
                  </i>

                  <!-- <i class="ri-star-line"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-half-line"></i> -->
                </ng-template>

              </ngb-rating>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">Minutes Volume</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">

            <app-chart-bar-widget></app-chart-bar-widget>

            <!-- <img class="w-100"
              src="https://ezvffrz5r23.exactdn.com/wp-content/uploads/2023/03/diagrama-de-barras-verticales-img01.jpg?strip=all&lossy=1&resize=633%2C378&ssl=1"> -->
          </div>
          <div class="col-md-6">
            <table class="table table-nowrap">
              <thead>
                <tr class="table-dark">
                  <th colspan="2">
                    <h5 class="text-center mb-0 text-white">On-Demand Services</h5>
                  </th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td rowspan="4" class="border">
                    <div class="d-flex flex-column">
                      <div class="box-icon mx-auto mb-2">
                        <i class="mdi mdi-phone"></i>
                      </div>
                      <span class="text-center">Phone Calls</span>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td class="text-end">85 Calls</td>
                </tr>
                <tr>
                  <td class="text-end">834 Total Minutes</td>
                </tr>
                <tr>
                  <td class="text-end">11 min Avg. Duration</td>
                </tr>
                <tr>
                  <td rowspan="4" class="border">
                    <div class="d-flex flex-column">
                      <div class="box-icon mx-auto mb-2">
                        <i class="mdi mdi-video"></i>
                      </div>
                      <span class="text-center">Video Calls</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="text-end">111 Calls</td>
                </tr>
                <tr>
                  <td class="text-end">795 Total Minutes</td>
                </tr>
                <tr>
                  <td class="text-end">8 min Avg. Duration</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- filter -->
<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">Filter by</h4>
      </div><!-- end card header -->

      <div class="card-body">
        <div class="row">
          <div class="col-md-6 mb-3 mb-md-0">
            <div>
              <label for="exampleInputdate" class="form-label">From</label>
              <input type="date" class="form-control rounded-pill" id="exampleInputdate">
            </div>
          </div>
          <div class="col-md-6">
            <div>
              <label for="exampleInputdateEnd" class="form-label">To</label>
              <input type="date" class="form-control rounded-pill" id="exampleInputdateEnd">
            </div>
          </div>
        </div>
        <div class="text-end mt-3">
          <button type="button"
            class="btn rounded-pill btn-danger px-4 fw-medium waves-effect waves-light">Search</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- filter end-->

<!-- tabla On-Demand Services  -->
<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">On-Demand Services</h4>
      </div>
      <div class="card-body">
        <div class="row g-4 mb-3">
          <div class="col-sm-auto">
            <div>
              <h5 class="fs-5">By Language: English <> Spanish</h5>
            </div>
          </div>
          <div class="col-sm">
            <div class="d-flex justify-content-sm-end">
              <div class="search-box ms-2">
                <input type="text" class="form-control search" placeholder="Search...">
                <i class="ri-search-line search-icon"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive table-card mt-3">
          <table class="table table-nowrap table-hover table-striped mb-0">
            <thead class="table-light">
              <tr>
                <th scope="col">Call Type</th>
                <th scope="col">Rate Per Minute</th>
                <th scope="col">Connection Time</th>
                <th scope="col">Duration</th>
                <th scope="col" [width]="120">Earning $(opcional)</th>
              </tr>
            </thead>
            <tbody>

              <!-- <tr *ngFor="let item of lista">
                <td>
                  {{ item.calltype }}
                </td>
                <td>
                  ${{ item.ratexmin }}
                </td>
                <td>
                  {{ item.connectiontime }}
                </td>
                <td>
                  {{ item.duration}}
                </td>
                <td class="text-center">
                  <button class="btn btn-success btn-sm ms-2">$500</button>
                </td>
              </tr> -->

              <tr>
                <td colspan="5" class="text-center">
                  Sin registros
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- tabla Assignments OPI/VRI -->
<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">Assignments OPI/VRI</h4>
      </div>
      <div class="card-body">
        <div class="row g-4 mb-3">
          <div class="col-sm">
            <div class="d-flex justify-content-sm-end">
              <div class="search-box ms-2">
                <input type="text" class="form-control search" placeholder="Search...">
                <i class="ri-search-line search-icon"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive table-card mt-3">
          <table class="table table-nowrap table-hover table-striped mb-0">
            <thead class="table-light">
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Rate Per Hour</th>
                <th scope="col">Rate Per Minute</th>
                <th scope="col">Call Type</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>

              <!-- <tr *ngFor="let item of listaOpi">
                <td>
                  {{ item.date }}
                </td>
                <td>
                  ${{ item.ratexhour }}
                </td>
                <td>
                  ${{ item.ratexmin }}
                </td>
                <td>
                  {{ item.calltype }}
                </td>
                <td>
                  <span class="badge rounded-pill badge-soft-success">Confirm Call</span>
                </td>
              </tr> -->

              <tr>
                <td colspan="5" class="text-center">
                  Sin registros
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- tabla On-Site Interpreting -->
<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">On-Site Interpreting</h4>
      </div>
      <div class="card-body">
        <div class="row g-4 mb-3">
          <div class="col-sm">
            <div class="d-flex justify-content-sm-end">
              <div class="search-box ms-2">
                <input type="text" class="form-control search" placeholder="Search...">
                <i class="ri-search-line search-icon"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive table-card mt-3">
          <table class="table table-nowrap table-hover table-striped mb-0">
            <thead class="table-light">
              <tr>
                <th scope="col">Assignments Type</th>
                <th scope="col">Date</th>
                <th scope="col">Assignment Address</th>
                <th scope="col">Request Name</th>
                <th scope="col">E-mail</th>
                <th scope="col">Number Phone</th>
                <th scope="col">Interpreter’s</th>
                <th scope="col">ID</th>
                <th scope="col">Status</th>
                <th scope="col">Comment</th>
              </tr>
            </thead>
            <tbody>

              <!-- <tr *ngFor="let item of listaOnsite">
                <td>
                  {{ item.assignmenttype }}
                </td>
                <td>
                  {{ item.date }}
                </td>
                <td>
                  {{ item.assignmentaddress }}
                </td>
                <td>
                  {{ item.name }}
                </td>
                <td>
                  {{ item.email }}
                </td>
                <td>
                  {{ item.numberphone }}
                </td>
                <td>
                  {{ item.interpreter }}
                </td>
                <td>
                  {{ item.id }}
                </td>
                <td>
                  <span class="badge rounded-pill badge-soft-warning">Pending</span>
                </td>
                <td>
                  {{ item.comment }}
                </td>
              </tr> -->

              <tr>
                <td colspan="10" class="text-center">
                  Sin registros
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
