<div class="row">
  <div class="col-12">
    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
      <h4 class="mb-sm-0">{{'GLOSSARY.INTERPRETERPORTAL' | translate }}</h4>
    </div>
  </div>
</div>

<!-- Nav tabs -->
<ul class="nav nav-pills arrow-navtabs nav-success bg-light mb-3" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" data-bs-toggle="tab" href="#demand" role="tab"
      aria-selected="true" tabindex="1">{{'GLOSSARY.ONDAMANDSERVICES' | translate}}</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" data-bs-toggle="tab" href="#assigments" role="tab" aria-selected="false"
      tabindex="2">{{'GLOSSARY.ASSIGNMENTSOPIVRI' | translate}}</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" data-bs-toggle="tab" href="#interpreting" role="tab" aria-selected="false"
      tabindex="3">{{'GLOSSARY.ONSITEINTERPRETING' | translate}}</a>
  </li>
</ul>

<div class="tab-content text-muted">
  <div class="tab-pane active" id="demand" role="tabpanel">
    <app-tab-on-demand-services></app-tab-on-demand-services>
  </div>
</div>

<div class="tab-content text-muted">
  <div class="tab-pane" id="assigments" role="tabpanel">
    
    <!-- tabla Assignments OPI/VRI -->
    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header align-items-center d-flex">
            <h4 class="card-title mb-0 flex-grow-1">{{'GLOSSARY.ASSIGNMENTSOPIVRI' | translate}}</h4>
          </div>
          <div class="card-body">
            <div class="row g-4 mb-3">
              <div class="col-sm">
                <div class="d-flex justify-content-sm-end">
                  <div class="search-box ms-2">
                    <input type="text" class="form-control search" placeholder="Search...">
                    <i class="ri-search-line search-icon"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="table-responsive table-card mt-3">
              <table class="table table-nowrap table-hover table-striped mb-0">
                <thead class="table-light">
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Rate Per Hour</th>
                    <th scope="col">Rate Per Minute</th>
                    <th scope="col">Call Type</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>

                  <!-- <tr *ngFor="let item of listaOpi">
                    <td>
                      {{ item.date }}
                    </td>
                    <td>
                      ${{ item.ratexhour }}
                    </td>
                    <td>
                      ${{ item.ratexmin }}
                    </td>
                    <td>
                      {{ item.calltype }}
                    </td>
                    <td>
                      <span class="badge rounded-pill badge-soft-success">Confirm Call</span>
                    </td>
                  </tr> -->

                  <tr>
                    <td colspan="5" class="text-center">
                      Without Records
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="tab-content text-muted">
  <div class="tab-pane" id="interpreting" role="tabpanel">
    
    <!-- tabla On-Site Interpreting -->
    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header align-items-center d-flex">
            <h4 class="card-title mb-0 flex-grow-1">{{'GLOSSARY.ONSITEINTERPRETING' | translate}}</h4>
          </div>
          <div class="card-body">
            <div class="row g-4 mb-3">
              <div class="col-sm">
                <div class="d-flex justify-content-sm-end">
                  <div class="search-box ms-2">
                    <input type="text" class="form-control search" placeholder="Search...">
                    <i class="ri-search-line search-icon"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="table-responsive table-card mt-3">
              <table class="table table-nowrap table-hover table-striped mb-0">
                <thead class="table-light">
                  <tr>
                    <th scope="col">Assignments Type</th>
                    <th scope="col">Date</th>
                    <th scope="col">Assignment Address</th>
                    <th scope="col">Request Name</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Number Phone</th>
                    <th scope="col">Interpreter’s</th>
                    <th scope="col">ID</th>
                    <th scope="col">Status</th>
                    <th scope="col">Comment</th>
                  </tr>
                </thead>
                <tbody>

                  <!-- <tr *ngFor="let item of listaOnsite">
                    <td>
                      {{ item.assignmenttype }}
                    </td>
                    <td>
                      {{ item.date }}
                    </td>
                    <td>
                      {{ item.assignmentaddress }}
                    </td>
                    <td>
                      {{ item.name }}
                    </td>
                    <td>
                      {{ item.email }}
                    </td>
                    <td>
                      {{ item.numberphone }}
                    </td>
                    <td>
                      {{ item.interpreter }}
                    </td>
                    <td>
                      {{ item.id }}
                    </td>
                    <td>
                      <span class="badge rounded-pill badge-soft-warning">Pending</span>
                    </td>
                    <td>
                      {{ item.comment }}
                    </td>
                  </tr> -->

                  <tr>
                    <td colspan="10" class="text-center">
                      Without Records
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>




<!-- tabla On-Demand Services  -->
<!--<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">On-Demand Services</h4>
      </div>
      <div class="card-body">
        <div class="row g-4 mb-3">
          <div class="col-sm-auto">
            <div>
              <h5 class="fs-5">By Language: English <> Spanish</h5>
            </div>
          </div>
          <div class="col-sm">
            <div class="d-flex justify-content-sm-end">
              <div class="search-box ms-2">
                <input type="text" class="form-control search" placeholder="Search...">
                <i class="ri-search-line search-icon"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive table-card mt-3">
          <table class="table table-nowrap table-hover table-striped mb-0">
            <thead class="table-light">
              <tr>
                <th scope="col">Call Type</th>
                <th scope="col">Rate Per Minute</th>
                <th scope="col">Connection Time</th>
                <th scope="col">Duration</th>
                <th scope="col" [width]="120">Earning $(opcional)</th>
              </tr>
            </thead>
            <tbody>-->

              <!-- <tr *ngFor="let item of lista">
                <td>
                  {{ item.calltype }}
                </td>
                <td>
                  ${{ item.ratexmin }}
                </td>
                <td>
                  {{ item.connectiontime }}
                </td>
                <td>
                  {{ item.duration}}
                </td>
                <td class="text-center">
                  <button class="btn btn-success btn-sm ms-2">$500</button>
                </td>
              </tr> -->

              <!--<tr>
                <td colspan="5" class="text-center">
                  Without Records
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>-->


