<!-- <p>client-page works!</p> -->
<!-- <app-chart-bar-widget></app-chart-bar-widget> -->

<div class="row">
  <div class="col-12">
    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
      <h4 class="mb-sm-0">
        Pool of Intepreters
      </h4>

      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
          <li class="breadcrumb-item active">Pool of Intepreters</li>
        </ol>
      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <form [formGroup]="frmFilter">

      <div class="card">

        <div class="card-body">

          <div class="row pb-4 ">
            <div class="col-6 ">

              <div class="d-flex justify-content-star align-items-center gap-2">
                <div class="">
                  <input type="text" class="form-control" id="placeholderInput" placeholder="Buscar..."
                    formControlName="filter">
                </div>
              </div>

            </div>
            <div class="col-6 ">
              <div class="d-flex justify-content-end align-items-center gap-2">
                <button type="button" class="btn btn-danger rounded-pill px-md-5 fw-medium custom-toggle"
                  data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="btnShowModal">
                  <i class="ri-add-fill align-bottom me-1"></i> New Intepreter
                </button>
              </div>
            </div>
          </div>

          <div class="table-responsive table-card">
            <table class="table table-nowrap table-hover mb-0">
              <thead class="table-light">
                <tr>

                  <th scope="col">Fullname</th>
                  <th scope="col">Email</th>
                  <th scope="col">Date</th>
                  <th scope="col">Time zone</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of interpreters">
                  <td>
                    <!-- <span class="fw-semibold">
                      {{ item.fullname }}
                    </span> -->
                    <a [routerLink]="['/admin/profile-interpreter/', item.id]" class="fw-semibold">
                      {{ item.fullname }}
                    </a>
                  </td>
                  <td>
                    {{ item.email }}
                  </td>
                  <td>
                    {{ item.createAt }}
                    <!-- 07 Oct, 2021 -->
                  </td>
                  <td>
                    {{ item.timezone?.zoneName ?? '' }}
                  </td>
                  <td>
                    <span class="badge badge-soft-success" [class.badge-soft-success]="item.status"
                      [class.badge-soft-danger]="!item.status">
                      {{ item.status | status }}
                    </span>
                  </td>
                  <td>
                    <!-- <button type="button" class="btn btn-sm btn-success" *ngIf="item.status" data-bs-toggle="modal"
                      data-bs-target="#organizationModal" (click)="onLoadData( item )">
                      <i class="ri-pencil-fill align-bottom"></i>
                    </button> -->

                    <button type="button" class="btn btn-sm btn-danger ms-2" [class.btn-success]="!item.status"
                      [class.btn-danger]="item.status" (click)="onConfirm(item)">
                      <i class="ri-delete-bin-7-line align-bottom" *ngIf="item.status"></i>
                      <i class="ri-restart-line align-bottom" *ngIf="!item.status"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>

        </div>
        <div class="row mt-2">
          <div class="col-6">

            <div class="d-flex justify-content-start align-items-center gap-4 ms-3">

              <div class="d-flex justify-content-start align-items-center gap-2 ms-3">
                View
                <select class="form-select " style="width: 90px;" formControlName="limit" (change)="onGetInterpreters()" >
                  <option selected></option>
                  <option [value]="5">5</option>
                  <option [value]="10">10</option>
                  <option [value]="20">20</option>
                </select>
                records
              </div>
              |
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="chxActive" formControlName="active" (change)="onGetInterpreters()" >
                <label class="form-check-label" for="chxActive">view disabled</label>
              </div>

            </div>

          </div>
          <div class="col-md-6">
            <app-pagination [paginate]="paginate" [total]="total" (navigate)="onGetInterpreters($event)">
            </app-pagination>
          </div>
        </div>
      </div>

    </form>

  </div>
</div>

<!-- staticBackdrop Modal -->
<div class="modal modal-lg fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark p-3">
        <h5 class="modal-title text-white" *ngIf="!loadData">
          Create Interpreter
        </h5>
        <h5 class="modal-title text-white" *ngIf="loadData">
          Edit Interpreter
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btnCloseModal" (click)="onReset()" ></button>
      </div>
      <form [formGroup]="frmUser" (submit)="onSubmit()">

        <div class="modal-body ">

          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="placeholderInput" class="form-label">First Name</label>
                <input type="text"
                  class="form-control"
                  id="placeholderInput"
                  placeholder="Enter name"
                  formControlName="name"
                  [class.is-invalid]="controls['name'].errors  &&  touched('name')"
                >

                  <div *ngIf="touched('name') && controls['name'].errors" class="invalid-feedback">
                    <div *ngIf="controls['name'].errors['required']">Name is required</div>
                    <div *ngIf="controls['name'].errors['pattern']">Name is invalid</div>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="placeholderInput" class="form-label">Last Name</label>
                <input type="text"
                  class="form-control"
                  placeholder="Lastname"
                  formControlName="surname"
                  [class.is-invalid]="controls['surname'].errors  &&  touched('surname')"
                >

                <div *ngIf="touched('surname') && controls['surname'].errors" class="invalid-feedback">
                  <div *ngIf="controls['surname'].errors['required']">Surname is required</div>
                  <div *ngIf="controls['surname'].errors['pattern']">Surname is invalid</div>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="iconInput" class="form-label">Email</label>
                <input type="email"
                  class="form-control"
                  id="iconInput"
                  placeholder="example@gmail.com"
                  formControlName="email"
                  [class.is-invalid]="controls['email'].errors  &&  touched('email')"
                >

                <div *ngIf="touched('email') && controls['email'].errors" class="invalid-feedback">
                  <div *ngIf="controls['email'].errors['required']">Email is required</div>
                  <div *ngIf="controls['email'].errors['pattern']">Email is invalid</div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3">
                <label for="cleave-phone" class="form-label">Phone</label>
                <input type="text"
                  class="form-control"
                  id="cleave-phone"
                  placeholder="xxx-xxx-xxx"
                  mask="000-000-000"
                  formControlName="phone"
                  [class.is-invalid]="controls['phone'].errors  &&  touched('phone')"
                >

                <div *ngIf="touched('phone') && controls['phone'].errors" class="invalid-feedback">
                  <div *ngIf="controls['phone'].errors['required']">Phone is required</div>
                  <div *ngIf="controls['phone'].errors['pattern']">Phone is invalid</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col-md-6">
              <div class="mb-3">
                <label for="cleave-phone" class="form-label">Country</label>
                <ng-select
                  [items]="countries"
                  bindLabel="name"
                  bindValue="code"
                  placeholder="Select country"
                  formControlName="countryCode"
                  (change)="onGetTimezones( $event )"
                  [class.is-invalid]="controls['countryCode'].errors  &&  touched('countryCode')"
                >



              </ng-select>
              <div *ngIf="touched('countryCode') && controls['countryCode'].errors" class="invalid-feedback">
                <div *ngIf="controls['countryCode'].errors['required']">Country is required</div>
              </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3">
                <label for="cleave-phone" class="form-label">Time zone</label>
                <ng-select
                  [items]="timezones"
                  bindLabel="zoneName"
                  bindValue="id"
                  placeholder="Select Time zone"
                  formControlName="timzoneId"
                  [loading]="loadingTimezone"
                  [class.is-invalid]="controls['timzoneId'].errors  &&  touched('timzoneId')"
                >

              </ng-select>
              <div *ngIf="touched('timzoneId') && controls['timzoneId'].errors" class="invalid-feedback">
                <div *ngIf="controls['timzoneId'].errors['required']">Timezone is required</div>
              </div>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-7">
              <div class="mb-3">
                <label for="cleave-phone" class="form-label">Native Language</label>
                <ng-select
                  [items]="idioms"
                  [loading]="loadingIdioms"
                  bindLabel="language"
                  bindValue="id"
                  placeholder="Select language"
                  formControlName="nativeLanguageId"
                  [class.is-invalid]="controls['nativeLanguageId'].errors  &&  touched('nativeLanguageId')"
                >

              </ng-select>
              <div *ngIf="touched('nativeLanguageId') && controls['nativeLanguageId'].errors" class="invalid-feedback">
                <div *ngIf="controls['nativeLanguageId'].errors['required']">Language is required</div>
              </div>

              </div>
            </div>

            <div class="col-md-5">
              <div class="mb-3">
                <label for="cleave-phone" class="form-label">Gender</label>
                <ng-select
                  [items]="genders"
                  placeholder="Select gender"
                  formControlName="gender"
                  [class.is-invalid]="controls['gender'].errors  &&  touched('gender')"
                >

              </ng-select>
              <div *ngIf="touched('gender') && controls['gender'].errors" class="invalid-feedback">
                <div *ngIf="controls['gender'].errors['required']">Gender is required</div>
              </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="cleave-phone" class="form-label">Target languages</label>
                <ng-select
                  [items]="targetIdioms"
                  bindLabel="name"
                  bindValue="id"
                  placeholder="Select target languages"
                  formControlName="targetLanguages"
                  [multiple]="true"
                  [class.is-invalid]="controls['targetLanguages'].errors  &&  touched('targetLanguages')"
                >

              </ng-select>
              <div *ngIf="touched('targetLanguages') && controls['targetLanguages'].errors" class="invalid-feedback">
                <div *ngIf="controls['targetLanguages'].errors['required']">Target languages is required</div>
              </div>

              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-light" data-bs-dismiss="modal" id="btnCloseModal">
            Cerrar
          </button> -->
          <button type="submit"
            class="btn btn-danger rounded-pill px-5 fw-medium"
            [disabled]="invalid || saving"
            >
            <div class="spinner-border text-light" role="status" *ngIf="saving">
              <span class="sr-only">Loading...</span>
            </div>
            <span *ngIf="!saving && !loadData"> Save </span>
            <span *ngIf="!saving && loadData"> Save changes </span>
            <span *ngIf="saving"> Saving... </span>

          </button>
        </div>
      </form>
    </div>
  </div>
</div>
