<div class="row">
  <div class="col-12">
    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
      <h4 class="mb-sm-0">Phone Call Handling of Customer</h4>
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a [routerLink]="['/calls/call-handling/']">Phone Call Handling</a></li>
          <li class="breadcrumb-item active">Customers</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">Business Hours</h4>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-12 mb-3">
            <div>
              <label for="customer" class="form-label me-3">
                <strong>24 Hours a Day, 7 Days a Week</strong>
              </label>
              <!-- <button type="button" class="btn btn-success btn-label right rounded-pill">
                <i class="ri-edit-line label-icon align-middle rounded-pill fs-16 ms-2"></i> Edit</button> -->
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div>
              <label for="customer" class="form-label">Call Handling</label>
              <input type="text" class="form-control rounded-pill" id="customer">
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div>
              <label class="form-label">Call Handling Ring Mode</label>
              <select class="form-select rounded-pill" aria-label="Default select example">
                <option selected="">Simultaneous</option>
                <option value="1">Information Architecture</option>
                <option value="2">UI/UX Design</option>
                <option value="3">Back End Development</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div>
              <label class="form-label">Max. Wait Time</label>
              <select class="form-select rounded-pill" aria-label="Default select example">
                <option selected="">30 seconds</option>
                <option value="1">30 seconds</option>
                <option value="2">30 seconds</option>
                <option value="3">30 seconds</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div>
              <label class="form-label">Greeting & Leave voicemall instruction</label>
              <select class="form-select rounded-pill" aria-label="Default select example">
                <option selected="">Default</option>
                <option value="1">30 seconds</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div>
              <label class="form-label">When a call is not answered</label>
              <select class="form-select rounded-pill" aria-label="Default select example">
                <option selected="">Forward to voicemail</option>
                <option value="1">Forward External Number</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div>
              <label class="form-label">&nbsp;</label>
              <div class="w-100">
                <button type="button" class="btn btn-danger rounded-pill px-md-5 fw-medium custom-toggle"
                  data-bs-toggle="modal" data-bs-target="#modalAddNumber">+ Add Number</button>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="table-responsive">
              <table class="table table-striped table-nowrap align-middle mb-0">
                <thead>
                  <tr>
                    <th>Seleccione N°</th>
                    <th scope="col">N° Teléfono</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="cardtableCheck01">
                        <label class="form-check-label" for="cardtableCheck01"></label>
                      </div>
                    </td>
                    <td>98456789</td>
                    <td>
                      <div class="hstack gap-3 flex-wrap">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#modalAddNumber"
                          class="link-success fs-15"><i class="ri-edit-2-line"></i></a>
                        <a href="javascript:void(0);" class="link-danger fs-15"><i class="ri-delete-bin-line"></i></a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="cardtableCheck01">
                        <label class="form-check-label" for="cardtableCheck01"></label>
                      </div>
                    </td>
                    <td>92456789</td>
                    <td>
                      <div class="hstack gap-3 flex-wrap">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#modalAddNumber"
                          class="link-success fs-15"><i class="ri-edit-2-line"></i></a>
                        <a href="javascript:void(0);" class="link-danger fs-15"><i class="ri-delete-bin-line"></i></a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="cardtableCheck01">
                        <label class="form-check-label" for="cardtableCheck01"></label>
                      </div>
                    </td>
                    <td>73456789</td>
                    <td>
                      <div class="hstack gap-3 flex-wrap">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#modalAddNumber"
                          class="link-success fs-15"><i class="ri-edit-2-line"></i></a>
                        <a href="javascript:void(0);" class="link-danger fs-15"><i class="ri-delete-bin-line"></i></a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalAddNumber" tabindex="-1" aria-labelledby="exampleModalgridLabel" aria-modal="true"
  role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-dark p-3">
        <h5 class="modal-title text-white fw-medium" id="exampleModalgridLabel">Add Number</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="javascript:void(0);">
          <div class="row g-3">
            <div class="col-12">
              <div>
                <label for="firstName" class="form-label">N° Telephone</label>
                <input type="number" class="form-control" id="firstName" placeholder="Enter new number telephone">
              </div>
            </div>
            <div class="col-lg-12">
              <div class="hstack gap-2 justify-content-end">
                <button type="submit" class="btn btn-danger rounded-pill fw-medium custom-toggle">Save</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>