<!-- <p>client-page works!</p> -->
<!-- <app-chart-bar-widget></app-chart-bar-widget> -->

<div class="row">
  <div class="col-12">
    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
      <h4 class="mb-sm-0">
        Customers
      </h4>

      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="javascript: void(0);">Administración</a></li>
          <li class="breadcrumb-item active">Customers</li>
        </ol>
      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <form [formGroup]="frmFilter">

      <div class="card">

        <div class="card-body">

          <div class="row pb-4 ">
            <div class="col-6 ">

              <div class="d-flex justify-content-star align-items-center gap-2">
                <div class="">
                  <input type="text" class="form-control" id="placeholderInput" placeholder="Buscar..."
                    formControlName="filter">
                </div>
              </div>

            </div>
            <div class="col-6 ">
              <div class="d-flex justify-content-end align-items-center gap-2">
                <button type="button" class="btn btn-danger rounded-pill px-md-5 fw-medium custom-toggle"
                  data-bs-toggle="modal" data-bs-target="#addModalInterpreter" id="btnShowModal">
                  <i class="ri-add-fill align-bottom me-1"></i> New client
                </button>
              </div>
            </div>
          </div>

          <div class="table-responsive table-card">
            <table class="table table-nowrap table-hover mb-0">
              <thead class="table-light">
                <tr>

                  <th scope="col">Fullname</th>
                  <th scope="col">Email</th>
                  <th scope="col">Date</th>
                  <th scope="col">Type</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of customers">
                  <td>
                    <span class="fw-semibold">
                      {{ item.customerName }}
                    </span>
                    <!-- <a href="#" class="fw-semibold">#VL2110</a> -->
                  </td>
                  <td>
                    {{ item.email }}
                  </td>
                  <td>
                    {{ item.createAt }}
                    <!-- 07 Oct, 2021 -->
                  </td>
                  <td>
                    {{ item?.customerType?.customerType ?? '' }}
                  </td>
                  <td>
                    <span class="badge badge-soft-success rounded-pill" [class.badge-soft-success]="item.status"
                      [class.badge-soft-danger]="!item.status">
                      {{ item.status | status }}
                    </span>
                  </td>
                  <td>
                    <button type="button" class="btn btn-sm btn-success" *ngIf="item.status" data-bs-toggle="modal"
                      data-bs-target="#organizationModal" (click)="onLoadData( item )">
                      <i class="ri-pencil-fill align-bottom"></i>
                    </button>

                    <button type="button" class="btn btn-sm btn-danger ms-2" [class.btn-success]="!item.status"
                      [class.btn-danger]="item.status" (click)="onConfirm(item)">
                      <i class="ri-delete-bin-7-line align-bottom" *ngIf="item.status"></i>
                      <i class="ri-restart-line align-bottom" *ngIf="!item.status"></i>
                    </button>
                  </td>
                </tr>

                <tr *ngIf="!loading && total == 0 " >
                  <td colspan="6" class="text-center">
                    <strong>
                      Sin registros
                    </strong>
                  </td>
                </tr>

              </tbody>
            </table>

          </div>

        </div>
        <div class="row mt-2">
          <div class="col-6">
            <div class="d-flex justify-content-start align-items-center gap-4 ms-3">
              <div class="d-flex justify-content-start align-items-center gap-2 ms-3">
                View
                <select class="form-select " style="width: 90px;" formControlName="limit" (change)="onGetClients()" >
                  <option selected></option>
                  <option [value]="5">5</option>
                  <option [value]="10">10</option>
                  <option [value]="20">20</option>
                </select>
                records
              </div>
              |
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="chxActive" formControlName="active"
                  (change)="onGetClients()">
                <label class="form-check-label" for="chxActive">view disabled</label>
              </div>

            </div>

          </div>
          <div class="col-6">
            <app-pagination [paginate]="paginate" [total]="total" (navigate)="onGetClients($event)"></app-pagination>
          </div>
        </div>
      </div>

    </form>

  </div>
</div>


<div class="modal fade modal-lg " data-bs-backdrop="static" id="addModalInterpreter" tabindex="-1" aria-labelledby="exampleModalgridLabel"
  aria-modal="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-dark p-3">
        <h5 class="modal-title text-white fw-medium" id="exampleModalgridLabel">Add Costumer</h5>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btnCloseModal" (click)="onReset()" ></button>
      </div>
      <div class="modal-body">
        <form  [formGroup]="frmCustomer"  >

          <div class="row">
            <div class="col-12 pt-2">
              <label for="firstName" class="form-label">Customer</label>
              <input type="text"
                class="form-control "
                id="firstName"
                placeholder="Enter name"
                formControlName="customerName"
                [class.is-invalid]="controls['customerName'].errors  &&  touched('customerName')"
              >
              <div *ngIf="touched('name') && controls['name'].errors" class="invalid-feedback">
                <div *ngIf="controls['name'].errors['required']">Name is required</div>
                <div *ngIf="controls['name'].errors['pattern']">Name is invalid, letter only</div>
              </div>
            </div>

          </div>

          <div class="row ">
            <div class="col-12 pt-3">

              <label class="form-label">Customer Type</label>

              <ng-select class="  " [items]="customerType"
                  bindLabel="customerType"
                  bindValue="id"
                  placeholder="Select customer type"
                  formControlName="customertypeId"
                  [class.is-invalid]="controls['customertypeId'].errors  &&  touched('customertypeId')"
                >
              </ng-select>

              <div *ngIf="touched('customertypeId') && controls['customertypeId'].errors" class="invalid-feedback">
                <div *ngIf="controls['customertypeId'].errors['required']">Customer type is required</div>
              </div>

            </div>
          </div>


          <div class="row ">
            <div class="col-lg-8 col-md-8 col-sm-12 pt-3">
              <label for="txtemail" class="form-label">E-mail</label>
              <input type="text"
                class="form-control "
                id="txtemail"
                placeholder="Enter e-mail"
                formControlName="email"
                [class.is-invalid]="controls['email'].errors  &&  touched('email')"
              >

              <div *ngIf="touched('email') && controls['email'].errors" class="invalid-feedback">
                <div *ngIf="controls['email'].errors['required']">Email is required</div>
                <div *ngIf="controls['email'].errors['pattern']">Email is invalid</div>
              </div>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 pt-3">

              <label for="txtphone" class="form-label">Phone Number</label>
              <input type="tel"
                class="form-control "
                id="txtphone"
                placeholder="Enter phone number"
                formControlName="phone"
                [class.is-invalid]="controls['phone'].errors  &&  touched('phone')"
              >

              <div *ngIf="touched('email') && controls['email'].errors" class="invalid-feedback">
                <div *ngIf="controls['email'].errors['required']">Email is required</div>
                <div *ngIf="controls['email'].errors['pattern']">Email is invalid</div>
              </div>

            </div>
          </div>

          <div class=" pt-2">

            <h5 class="fs-15 mt-4 mb-2 border-bottom border-bottom-dashed">Address</h5>

            <div class="row ">

              <div class="col-lg-8 col-md-8 col-sm-12 pt-2">
                <label for="txtaddress" class="form-label">Street #number</label>
                <input type="text"
                  class="form-control "
                  id="txtaddress"
                  placeholder="Enter phone number"
                  formControlName="address"
                  [class.is-invalid]="controls['address'].errors  &&  touched('address')"
                >

                <div *ngIf="touched('address') && controls['address'].errors" class="invalid-feedback">
                  <div *ngIf="controls['address'].errors['required']">Address is required</div>
                  <div *ngIf="controls['address'].errors['pattern']">Address is invalid</div>
                </div>

              </div>

              <div class="col-lg-4 col-md-4 col-sm-12 pt-2">
                <label for="txtcity" class="form-label">City</label>
                <input type="text"
                  class="form-control "
                  id="txtcity"
                  placeholder="Enter city"
                  formControlName="cityName"
                  [class.is-invalid]="controls['cityName'].errors  &&  touched('cityName')"
                >

                <div *ngIf="touched('cityName') && controls['cityName'].errors" class="invalid-feedback">
                  <div *ngIf="controls['cityName'].errors['required']">City is required</div>
                  <div *ngIf="controls['cityName'].errors['pattern']">City is invalid</div>
                </div>

              </div>

              <!-- <div class="col-md-4">
                  <label for="firstName" class="form-label">Street</label>
                  <input type="text" class="form-control " id="firstName" placeholder="Enter phone number">
              </div> -->

            </div>

            <div class="row ">

              <div class="col-lg-2 col-md-2 col-sm-4 pt-3">
                <label for="txtpostalcode" class="form-label">Postal Code</label>
                <input type="text"
                  class="form-control "
                  id="txtpostalcode"
                  placeholder="0000"
                  formControlName="postalCode"
                  [class.is-invalid]="controls['postalCode'].errors  &&  touched('postalCode')"
                >

                <div *ngIf="touched('postalCode') && controls['postalCode'].errors" class="invalid-feedback">
                  <div *ngIf="controls['postalCode'].errors['required']">Postal code is required</div>
                  <div *ngIf="controls['postalCode'].errors['pattern']">Postal code is invalid</div>
                </div>

              </div>

              <div class="col-lg-5 col-md-5 col-sm-8 pt-3">
                  <label for="lastName" class="form-label">Country</label>
                  <ng-select [items]="countries"
                    bindLabel="name"
                    bindValue="code"
                    placeholder="Select country"
                    formControlName="countryCode"
                    (change)="onGetTimezones($event)"
                    [class.is-invalid]="controls['countryCode'].errors  &&  touched('countryCode')"
                  >
                  </ng-select>

                  <div *ngIf="touched('countryCode') && controls['countryCode'].errors" class="invalid-feedback">
                    <div *ngIf="controls['countryCode'].errors['required']">Country is required</div>
                  </div>

              </div>

              <div class="col-lg-5 col-md-5 col-sm-12 pt-3">
                <label for="lastName" class="form-label">Time zone</label>
                <ng-select [items]="timezones"
                  bindLabel="zoneName"
                  bindValue="id"
                  placeholder="Select time zone"
                  formControlName="timzoneId"
                  [loading]="loadingTimezone"
                  [class.is-invalid]="controls['timzoneId'].errors  &&  touched('timzoneId')"
                >
                </ng-select>

                <div *ngIf="touched('timzoneId') && controls['timzoneId'].errors" class="invalid-feedback">
                  <div *ngIf="controls['timzoneId'].errors['required']">Time Zone is required</div>
                </div>

            </div>

            </div>


          </div>
          <!--end row-->
        </form>

        <div class="pt-2">

          <div class="row pb-2 pt-2">
            <div class="col-6">
              <h4>
                Rate
              </h4>
            </div>
            <div class="col-6 d-flex justify-content-end">
              <button type="button" class="btn btn-sm btn-dark " (click)="onAddrate()">
                <i class="ri-add-line align-bottom me-1"></i>
                Add
              </button>
            </div>
          </div>

          <div class="row pb-2 pt-2">
            <div class="col-12">

              <table class="table table-responsive  table-nowrap mb-0">
                <thead class="table-light">
                  <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let dpt of rates">
                    <td>

                      <select class="form-select rounded-pill" aria-label="Default select example"
                        [formControl]="dpt.type" [class.is-invalid]="dpt.invalidType ">
                        <option selected="" disabled>Select</option>
                        <option [value]="item.value" *ngFor="let item of calltype">
                          {{ item.value }}
                        </option>
                      </select>

                    </td>
                    <td>
                      <input type="text" class="form-control rounded-pill" placeholder="Access Code"
                        [formControl]="dpt.rate" [class.is-invalid]="dpt.invalidRate ">
                    </td>

                    <td>
                      <div class="mt-2 text-center">
                        <a href="javascript:void(0);" class="link-danger " (click)="onRemoveRate( dpt )">
                          <i class="ri-delete-bin-line align-bottom "></i>
                        </a>
                      </div>
                    </td>
                  </tr>

                  <tr *ngIf="counterRates == 0">
                    <td colspan="3" class="text-center">
                      Add Rates
                    </td>
                  </tr>

                </tbody>
              </table>

            </div>
          </div>

          <div class="pt-2">

              <div class="row pb-2 pt-2">
                <div class="col-6">
                  <h4>
                    Departments
                  </h4>
                </div>
                <div class="col-6 d-flex justify-content-end">
                  <button type="button" class="btn btn-sm btn-dark " (click)="onAddDepartment()">
                      <i class="ri-add-line align-bottom me-1"></i>
                      Add
                  </button>
                </div>
              </div>
            <div class="row">
              <div class="col-12">

                <table class="table table-responsive  table-nowrap mb-0">
                  <thead class="table-light">
                      <tr>
                          <th scope="col">Department</th>
                          <th scope="col">Access Code</th>
                          <th scope="col">Actions</th>
                      </tr>
                  </thead>
                  <tbody>

                    <tr *ngFor="let dpt of department">
                        <td>

                            <input type="text"
                              class="form-control "
                              placeholder="Department"
                              [formControl]="dpt.nameControl"
                              [class.is-invalid]="dpt.invalidName "

                            >
                        </td>
                        <td>
                          <input type="text"
                            class="form-control "
                            placeholder="Access Code"
                            [formControl]="dpt.accessCodeControl"
                            [class.is-invalid]="dpt.invalidAccessCode "
                          >
                        </td>

                        <td>
                            <div class="mt-2 text-center">
                              <a href="javascript:void(0);" class="link-danger " (click)="onRemoveDepartment( dpt )" >
                                <i class="ri-delete-bin-line align-bottom "></i>
                              </a>
                            </div>
                        </td>
                      </tr>

                      <tr *ngIf="counterRates == 0">
                        <td colspan="3" class="text-center">
                          Add Departments
                        </td>
                      </tr>

                  </tbody>
                </table>

              </div>

            </div>
          </div>

        </div>

      </div>
      <div class="modal-footer">
        <div class="col-lg-12">
          <div class="hstack gap-2 justify-content-center">
            <button type="submit"
              class="btn btn-danger rounded-pill fw-medium px-5"
              [disabled]=" saving || invalid || invalidDepartments || invalidRates "
              (click)="onSubmit()"
            >
              Save
            </button>
          </div>
        </div>
        <!--end col-->
      </div>
    </div>
  </div>
</div>
