<div class="row">
  <div class="col-12">
      <div class="page-title-box d-sm-flex align-items-center justify-content-between">
          <h4 class="mb-sm-0">Roles de usuario</h4>

          <div class="page-title-right">
              <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item"><a href="javascript: void(0);">Segurity</a></li>
                  <li class="breadcrumb-item active">Role</li>
              </ol>
          </div>

      </div>
  </div>
</div>

<div class="row">
  <div class="col">

    <div class="card">
      <form [formGroup]="frmFilter">

        <div class="card-body">

            <div class="row pb-4 ">
              <div class="col-6 ">

                <div class="d-flex justify-content-star align-items-center gap-2">
                  <div class="">
                    <input type="text" class="form-control" id="placeholderInput" placeholder="Buscar..." formControlName="filter" >
                  </div>

                  <button class="btn btn-primary custom-toggle" (click)="onGetRole()">
                    <i class="ri-search-line align-bottom"></i>
                  </button>

                </div>

              </div>
              <div class="col-6 ">
                <div class="d-flex justify-content-end align-items-center gap-2">
                  <a class="btn btn-primary custom-toggle active" routerLink="/segurity/create-role">
                    <i class="ri-add-fill align-bottom me-1"></i> Nuevo rol
                  </a>
                </div>
              </div>
            </div>

            <div class="table-responsive table-card">
              <table class="table table-nowrap table-hover mb-0">
                  <thead class="table-light">
                      <tr>
                          <!-- <th scope="col">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="cardtableCheck">
                                  <label class="form-check-label" for="cardtableCheck"></label>
                              </div>
                          </th> -->
                          <th scope="col">Código</th>
                          <th scope="col">Nombre</th>
                          <th scope="col">F. Creación</th>
                          <th scope="col">Estado</th>
                          <th scope="col" [width]="120">Acciones</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of roles" >
                          <td>
                            <span class="fw-semibold">
                              #{{ item.code }}
                            </span>
                          </td>
                          <td>
                            {{ item.name }}
                          </td>
                          <td>
                            <!-- 07 Oct, 2021 -->
                            {{ item.createAt }}
                          </td>
                          <td>
                            <span class="badge bg-success"
                            [class.bg-success]="item.status"
                            [class.bg-danger]="!item.status"
                            >
                              {{ item.status | status }}
                            </span>
                          </td>
                          <td class="text-center">

                              <a class="btn btn-sm btn-primary" routerLink="/segurity/edit-role/{{ item.id }}" *ngIf="item.status" >
                                <i class="ri-edit-box-line align-bottom"></i>
                              </a>

                              <button type="button" class="btn btn-sm btn-danger ms-2"
                                [class.btn-success]="!item.status"
                                [class.btn-danger]="item.status"
                                (click)="onConfirm(item)"
                              >
                                <i class="ri-delete-bin-7-line align-bottom" *ngIf="item.status" ></i>
                                <i class="ri-restart-line align-bottom" *ngIf="!item.status"></i>
                              </button>
                          </td>
                      </tr>
                      <tr *ngIf="counter == 0 && !loading" >
                        <td colspan="5" class="text-center">
                          Without Records
                        </td>
                      </tr>
                  </tbody>
              </table>

          </div>

        </div>

        <div class="row mt-2">
          <div class="col-6 ">

            <div class="d-flex justify-content-start align-items-center gap-4 ms-3">

              <div class="d-flex justify-content-start align-items-center gap-2 ">
                Ver
                <select class="form-select " style="width: 70px;" formControlName="limit">
                  <!-- <option selected></option> -->
                  <option [value]="5">5</option>
                  <option [value]="10">10</option>
                  <option [value]="20">20</option>
                </select>
                registros
              </div>
              |
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="chxActive" formControlName="active" (change)="onGetRole()" >
                <label class="form-check-label" for="chxActive">Ver inactivos</label>
              </div>

            </div>

          </div>
          <div class="col-6">
            <app-pagination [paginate]="paginate" [total]="total" (navigate)="onGetRole()" ></app-pagination>
          </div>
        </div>

      </form>
    </div>

  </div>
</div>



<!-- staticBackdrop Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalPopoversLabel">
                Crear Rol
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body text-center p-5">
              icono

              <div class="mt-4">
                  <h4 class="mb-3">You've made it!</h4>
                  <p class="text-muted mb-4"> The transfer was not successfully received by us. the email of the recipient wasn't correct.</p>
                  <div class="hstack gap-2 justify-content-center">
                      <a href="javascript:void(0);" class="btn btn-link link-success fw-medium" data-bs-dismiss="modal"><i class="ri-close-line me-1 align-middle"></i> Close</a>
                      <a href="javascript:void(0);" class="btn btn-success">Completed</a>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Send message</button>
          </div>
      </div>
  </div>
</div>
