/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
// @import 'bootstrap/scss/bootstrap';

// @import './assets/scss/config/default/bootstrap.scss';
// @import './assets/scss/config/default/app.scss';
@import './scss/custom/animate.scss';

.page-title-box h4 {
  text-transform: none !important;
}

.required{
  color: red;
}

.multi-select-label-disabled .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value{
  color: #333 !important;
}